[2019-07-02 13:10] MoOx opened #1 "Why this package instead of react-native-splash-screen?"
Real question that everybody is going to ask.
Exposing your motivation on why you created this module will probably answer this question :)

[2019-07-02 15:59] zoontek commented on #1
@MoOx Good question! I added infos in the README: https://github.com/zoontek/react-native-bootsplash/blob/master/README.md#%EF%B8%8F%EF%B8%8F-comparaison-with-react-native-splash-screen 🙂

[2019-07-02 16:00] #1 closed

[2019-07-22 14:29] sggonzalezg opened #3 "Security exception: Permission Denial"
### ERROR
Starting: Intent { cmp=[appName]/.MainActivity }
Security exception: Permission Denial: starting Intent { flg=0x10000000 cmp=[appName]/.MainActivity } from null (pid=27721, uid=2000) not exported from uid 10085

java.lang.SecurityException: Permission Denial: starting Intent { flg=0x10000000 cmp=[appName]/.MainActivity } from null (pid=27721, uid=2000) not exported from uid 10085
	at com

[2019-07-22 17:04] sggonzalezg commented on #3
If I put  android:exported="true" in <activity android:name=".MainActivity" ...>
Get this error
<img width="305" alt="Captura de pantalla 2019-07-22 a la(s) 14 04 31" src="https://user-images.githubusercontent.com/5217655/61650261-a6c5f900-ac89-11e9-85ca-a03affe2003d.png">

[2019-07-23 10:13] zoontek commented on #3
Are you installing the module twice? WIth RN 0.60 and autolinking, you don't need to return it in the `getPackages` method.

[2019-07-23 13:05] sggonzalezg commented on #3
Thanks, sorry for the issue.

[2019-07-27 16:36] sggonzalezg commented on #3
Hi, sorry but the issue is still happing.

The error ocurred when I run react-native run-android in Terminal, but when I start diretcly form Andorid Studio starts OK

Regards

[2019-07-28 16:40] zoontek commented on #3
Could you try with the updated react-native cli instead? It's bundled with react-native now.
https://github.com/react-native-community/cli

[2019-07-29 09:26] paolospag opened #5 "LinearGradient support"
Does this package support the ability to set a background with LinearGradient in both Android and iOS? If so, how?

[2019-07-29 16:41] MoOx commented on #5
You will probably have to handle the linear gradient via iOS .xib [UIView gradient](https://stackoverflow.com/questions/23074539/programmatically-create-a-uiview-with-color-gradient) / Android [drawable gradient](https://stackoverflow.com/questions/35814174/splash-screen-and-gradient).
Nothing specific related to this package as this package allow you to rely on native solution to show a splash sc

[2019-07-30 05:38] kenvunz opened #6 "Does this work on RN 0.59?"
Hi,

Is there a hard dependency on RN 0.60? Or you have just been testing this on 0.60?

Cheers,
Ken

[2019-07-30 07:35] MoOx commented on #6
No real hard dependency. But Android part rely on AndroidX so if you want to use it with RN 0.59-, you will need to use https://github.com/mikehardy/jetifier

[2019-07-30 10:02] paolospag commented on #5
@MoOx thanks for your suggestion.
Unfortunately, [Xcode doesn't allow runtime code in .xib](https://stackoverflow.com/questions/46057103/how-to-set-linear-gradient-to-background-of-launchscreen-xib-in-ios#answer-46057277) and I'm unable to create UIView with gradient.
Any workaround to do that without using a background image?

For Android: can I put `LinearLayout` into the `bootsplash.xml` file?

[2019-07-30 10:26] MoOx commented on #5
I am not familiar enough with iOS and Android best practices to help you more than using StackOverflow, sorry 😅

[2019-07-30 10:30] zoontek commented on #6
No as it relies on AndroidX.
You should use https://github.com/mikehardy/jetifier/blob/master/README.md#to-reverse-jetify--convert-node_modules-dependencies-to-support-libraries

[2019-07-30 10:30] #6 closed

[2019-07-30 10:33] MoOx commented on #6
I confirm it works with 0.59, I just integrated this into my app :clap:!

[2019-07-30 11:25] zoontek commented on #6
@kenvunz instructions has been addto the readme: https://github.com/zoontek/react-native-bootsplash/issues/7

[2019-07-30 15:41] camilo-5972 commented on #3
In my case I reduced the size of the splashScreen image

[2019-07-30 20:06] kenvunz commented on #6
Thanks for the quick response! 👍

[2019-07-31 15:12] MoOx opened #8 "getApplicationContext().getPackageName() can return an inappropriate string"
### 💻 My environment

- react-native-bootsplash version: 0.1.1
- Platform: android

### 🕵️‍♂️ Reproducing the issue

If your code isn't located at the place expected by this assumption https://github.com/zoontek/react-native-bootsplash/blob/60f7e216d626264e72f5efdad97672162324de7f/android/src/main/java/com/zoontek/rnbootsplash/RNBootSplashActivity.java#L15-L16 (`getApplicationContext().getPackageN

[2019-07-31 15:13] MoOx commented on #8
Also if this fail, maybe do an explicit crash instead of just logging the stack trace? (Loggin is nice, but being stuck on the splash screen is probably more frustrating)

[2019-08-02 10:05] vinurs opened #9 "any plan to support launchImages?"
like splashscreen using lanunchimages?

[2019-08-02 11:25] zoontek commented on #9
No plan.

An alternative could be to set an image fully sized in the rendered view. It's way more flexible as you can change the cropping settings anytime without even changing the image 🙂

[2019-08-02 11:28] zoontek commented on #8
@MoOx Totally agree that it should crash if the Activity is not found.

I will ship that feature and bump the package to v1.0.0 as it seems stable enough for everyone.

[2019-08-02 11:33] vinurs commented on #9
^_^, that's a good idea

[2019-08-02 11:33] #9 closed

[2019-08-03 16:23] rizal-azalli commented on #3
I have a same problem but solved the problem with:
[code]
In .MainActivity please insert back

[2019-08-04 14:46] giacomocerquone opened #10 "android.content.res.Resources$NotFoundException: Drawable org.package:drawable/bootsplash"
### 💻 My environment

- react-native-bootsplash version: 0.1.1
- react-native version: 0.60.4
- Platform: android
- OS version: 10
- Simulator: yes

### 🕵️‍♂️ Reproducing the issue

Trying to set up the module I obtain this error (found through logcat, the app won't even startup, it crash at the opening)
![image](https://user-images.githubusercontent.com/9303791/62425072-4302ed80-b6d7-11e9-96b3-1b

[2019-08-04 14:47] giacomocerquone commented on #3
I solved adding android:exported="true"
Here for more explanation: https://medium.com/handlebar-labs/how-to-add-a-splash-screen-to-a-react-native-app-ios-and-android-30a3cec835ae

[2019-08-04 15:17] giacomocerquone commented on #10
It is true that I renamed the android package (from org to com) but trust me, I've seen everywhere (and followed different guides), I even checked the R.java file and deleted and rebuilt the entire project, but nothing, can't understand why it doesn't find bootsplash.xml

[2019-08-04 17:50] giacomocerquone commented on #10
JUst

[2019-08-04 17:50] #10 closed

[2019-08-06 13:17] leoxiaoping commented on #3
I have same error

[2019-08-10 06:00] zoontek commented on #3
I added `android:exported="true"` to the example and the `README`. Thanks @giacomocerquone !

[2019-08-10 06:00] #3 closed

[2019-08-12 16:13] Tracklous opened #12 "Does this support react-native-navigation's way ?"
### 💻 My environment

- react-native-bootsplash version: 0.1.1
- react-native version: 0.60.4
- Platform: both
- OS version: Mojave
- Device: iphone 8 simulator
- Simulator: yes
- Android Studio version: 3.4.x
- Xcode version: 10.3
- React-native-navigation: v3 Alpha 11

### 🕵️‍♂️ Issue is splash screen fluctuates once when JS screen gets mounted
I followed all the steps you have mentioned but i'm

[2019-08-12 16:21] Tracklous opened #13 "Feature request: react-native-navigation support"
### 💻 My environment

- react-native-bootsplash version: 0.1.1
- react-native version: 0.60.4
- Platform:  Both
- OS version: IOS 12.3 / Android Pie
- Device: Iphone 8 simulator
- Simulator: yes
- Android Studio version: 3.4.x
- Xcode version: 10.3
- React-Native-Navigation: V3 Alpha 11

### 🕵️‍♂️ Issue is splash screen fluctuates once when JS screen gets mounted..
I followed all your steps but it

[2019-08-13 07:02] MoOx commented on #13
Seems to be a dup of #12

[2019-08-13 10:30] taminhtien opened #14 "Android staging build splash screen did not disappear"
### 💻 My environment

- react-native-bootsplash version: 0.1.1
- react-native version: 0.60.4
- Platform: android
- OS version: 9
- Device: Pixel 1
- Simulator: Simulator work
- Android Studio version: 3.4.1
- Android buildToolsVersion: 28.0.3
- Xcode version: iOS work

### 🕵️‍♂️ Reproducing the issue

app/android/build.gradle

[code]

Then build the staging build using Android Studio. After that,

[2019-08-14 08:39] #14 closed

[2019-08-14 16:23] #12 closed

[2019-08-14 16:27] zoontek commented on #13
No, it does not. `react-native-navigation` system is too complex and too different from classic RN native view handling.

[2019-08-15 17:53] Tracklous commented on #13
Yah! but then how react-native-splash-screen works well with RNN also ?? Is your lib way diff. than react-native-splash-screen implementation ??

[2019-08-18 09:04] zoontek commented on #13
@Tracklous Yes, the implementation is different. I'll take a look at react-native-navigation and see if I can create instructions for it.

[2019-08-19 07:31] shwanton commented on #14
I'm seeing this same behavior. When I try to build for a specific environment/flavor, the splash screen will dismiss itselft the first time after launched by the gradle task. However, when I manually launch the app the splash screen hangs and the js bundle never loads. I'm using an `applicationIdSuffix` for dev & staging. Both of those have the issue however my production build which just uses the

[2019-08-19 19:58] shwanton commented on #14
I confirmed this issue by checking the generated `MainActivity` Class name [here](https://github.com/zoontek/react-native-bootsplash/blob/master/android/src/main/java/com/zoontek/rnbootsplash/RNBootSplashActivity.java#L15). It was returning the entire identifier which included the `applicationIdSuffix`. (`com.example.foo.beta`)

I have a [fix](https://github.com/shwanton/react-native-bootsplash/co

[2019-08-20 17:13] shwanton commented on #14
@zoontek Is multiple environments something you would like to support in this library? I can add a PR with an updated example. It will add a couple more steps to the android process. The biggest change is that you can't fun `react-native run-android` by itself anymore, you will have to pass the variant as well:

`react-native run-android --variant=DevelopmentDebug`

[2019-08-21 07:59] zoontek commented on #14
@shwanton Your issue seems related to https://github.com/zoontek/react-native-bootsplash/issues/8 Will the meta-data solution be good enough?

What do you mean by supporting multiple environments? Displaying a different splash screen per env variant?

[2019-08-21 20:46] smakosh commented on #8
Switching to another library as this doesn't work on Android nor on iOS

[2019-08-21 20:47] MoOx commented on #8
It works like a charm. You probably didn't set this up correctly. If you share your setup we might be able to help you.

[2019-08-21 20:51] smakosh commented on #8
I followed everything mentioned on the docs, iOS build succeeds but I'm still seeing the RN splash screen (I'm using react-navigation)
As for Android, the build fails, getting this same issue, I tried the workaround mentioned above but the issue still exists

[2019-08-21 20:55] MoOx commented on #8
If you share more details we won't be able to help.

For iOS

Can you show the snippet where `[RNBootSplash show:@"LaunchScreen" inView:rootView];` is placed?

For Android

Please share the complete error

[2019-08-22 06:31] KingAmo opened #15 "how to edit LaunchScreen.xib to set a full screen image in iOS?"
### 💻 My environment

- react-native-bootsplash version:  0.1.1
[code]

### 🕵️‍♂️ Reproducing the issue

i am an Android developer，not familiar with iOS,  could you please give a brief guide on how to set the `LauchScreen.xib` to display a full screen image?

[2019-08-22 07:33] MoOx commented on #15
React Native should have a launch screen by default. To use a full screen image, you should refer to  official documentation of apple xib stuff.

But since you didn't look their first, let me share one of my splashcreen I have under the hand :)

My splash `screenscreen.png`, once added to the iOS project, has been added in Xcode by using the Interface Builder.
To add the image, just hit the button

[2019-08-22 13:16] andrewkslv commented on #14
I bump into the same issue since I'm using `applicationIdSuffix` for having multiple application instances at the same time on the phone.

[2019-08-22 14:30] Gorhom commented on #8
hi @MoOx , i have created a pr to fix this issue but with different approach , hope it helps, https://github.com/zoontek/react-native-bootsplash/pull/16

[2019-08-22 14:31] zoontek commented on #14
@andrewkslv https://github.com/zoontek/react-native-bootsplash/pull/16 seems to fix the issue. I will make a new release with it today!

[2019-08-23 04:37] shwanton commented on #14
Just tried that fork out and it works great!
Much better solution than the one I proposed.
Thank you much!

[2019-08-23 05:40] KingAmo commented on #15
@MoOx  thanks a lot~  but it seems that your code displays an icon in the center of the screen. anyway，i got it how to set a full screen image in `LaunchScreen.xib` file , thanks

[2019-08-23 05:41] #15 closed

[2019-08-23 06:35] MoOx commented on #15
@KingAmo what was the size of your png? In my example, my image was 2048 x 2048 (so a big splash screen)

[2019-08-23 06:57] KingAmo commented on #15
![image](https://user-images.githubusercontent.com/29938227/63572444-7a1d3e00-c5b5-11e9-8ced-376b9e8cb25e.png)
@MoOx  here it is ,there are three different size which is in `Images.xcassets`,  not a square image

[2019-08-23 06:59] MoOx commented on #15
Oh yeah so that's not a square single PNG. Yeah so constraints must be different I guess.

[2019-08-23 07:17] MoOx commented on #8
Not sure that your fix will help with my edge case but it looks good anyway!

[2019-08-23 07:21] zyxel648 opened #17 "Splash screen from @drawable/launch_screen"
### 💻 My environment

- react-native-bootsplash version: 0.1.1
- react-native version: 0.60.5

In the example of the boot screen, you've used the icon from `@mipmap/ic_launcher`. But often icon and splash are different. What is the proper way to setup splash screen with images from `@drawable/launch_screen`?
Is that correct?
[code]
The images from `@drawable/launch_screen` are in the folders `draw

[2019-08-23 07:30] MoOx commented on #17
You can't have the splash screen during reload atm with my knowledge.

@zoontek can we listen to reload to show it? I think you are familiar with dev menus, maybe enough to know :D

[2019-08-23 13:08] zoontek commented on #15
@KingAmo  I suggest to uses transparent PNG. If you do that, no need to update the images if you want to change the splash screen background color! :)

For the guys you want a small tuto:

1. Add an ImageView inside the .xib UIView using drag'n'drop

<img width="739" alt="Screenshot 2019-08-23 at 14 50 04" src="https://user-images.githubusercontent.com/1902323/63594220-2fe88c80-c5b6-11e9-9409-910e

[2019-08-23 13:11] zoontek commented on #17
@zyxel648 Your approach is good. It's perfectly normal to not displaying the splash screen on reload as we want to see the download progression info and as it has no impact on the production build.

[2019-08-23 13:22] zyxel648 commented on #17
@zoontek, @MoOx thank you for the responses! I have no questions anymore 👍

[2019-08-23 13:22] #17 closed

[2019-08-26 14:24] zoontek commented on #5
For Android, it should not be difficult. For iOS you have two options: A full sized image or a 1px width image stretch horizontally.

[2019-08-27 15:13] vorasudh commented on #13
I have same problem. I am using React Native Router Flux which is based on React-Navigation.

[2019-08-28 09:14] hussainhspl opened #19 "I cannot see any splash screen in IOS device, only react native app name screen is visible ,what is .xib support ?"
### 💻 My environment

- react-native-bootsplash version:
- react-native version:
- Platform: ios / android / both
- OS version: ?
- Device: brand + model
- Simulator: yes / no
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or screenshots i

[2019-08-28 18:00] zoontek commented on #13
@maxKimoby If it's happen with react-navigation (only JS lib), you surely missed a step in the install guide

[2019-08-28 18:02] zoontek commented on #19
The react native app name screen is named Launchscreen.xib (it's the format supported).
You can edit it directly in Xcode

[2019-08-28 18:02] #19 closed

[2019-08-28 18:03] #5 closed

[2019-08-31 06:32] shwanton opened #20 "Android splash screen image jumps slightly when loading"
### 💻 My environment

[code]
### 🕵️‍♂️ Reproducing the issue

Splash screen on some Android devices [jumps slightly when loaded](https://github.com/crazycodeboy/react-native-splash-screen/issues/241)

### 🤞Solution

There are a couple solutions in this [issue](https://github.com/crazycodeboy/react-native-splash-screen/issues/241) but none of them seem to be working on all devices.

Wondering if an

[2019-09-02 06:43] cx5168 opened #21 "There is a native module RNBootSplash error"
Follow the steps to configure it and get an error.
react-native: 0.60.4
react-native-bootsplash: 1.0.0

![img_20190902](https://user-images.githubusercontent.com/29448456/64094962-67b2b980-cd98-11e9-85d0-3f85ab156c88.png)

[2019-09-02 06:51] sharingjingang050241 opened #22 "react-native run-android two applications appear?"
### 💻 My environment

- react-native-bootsplash version:1.0.0
- react-native version:0.60.5
- Platform: android
- OS version: 7.1

### 🕵️‍♂️ Reproducing the issue
react-native run-android  two applications appear?
![image](https://user-images.githubusercontent.com/20335157/64095196-b78d8280-cd90-11e9-9d8b-36955b854422.png)

[code]
AndroidManifest.xml

    <application
      android:name=".MainAppl

[2019-09-02 07:38] cx5168 commented on #21
I solved it.
The steps to update MainApplication.java are not required, you should delete the import.

[2019-09-02 07:53] sharingjingang050241 commented on #22
emmmmmmmmmmm, This is my problem，sorry
please close this .

[2019-09-02 07:53] #22 closed

[2019-09-02 12:47] zoontek commented on #21
Manual linking is not mandatory for RN 0.60+. It's in the README 🙂

[2019-09-02 12:47] #21 closed

[2019-09-02 12:49] zoontek commented on #20
@shwanton Are you using this package or react-native-splash-screen?

[2019-09-02 15:00] shwanton commented on #20
My bad, I didn't add a repro. I am using react-native-bootsplash, but I cross referenced the issue from react-native-splash-screen since I was seeing that issue here. I'll try taking a video to demonstrate what I'm seeing.

It could be that my `@mipmap/splash_logo` centering is not calculating the status bar since that seems to be the amount that it's jumping.

`AndroidManifest.xml`
[code]

`style

[2019-09-02 15:06] zoontek commented on #20
@shwanton Your `@drawable/splash_gradient` content is the same as your `bootsplash.xml`. Can you post the correct content? Thanks!

On which Android version + simulator / device do you have the issue?

[2019-09-02 16:29] shwanton commented on #20
Fixed the code. I'm seeing the issue on my Emulator (Pixel API 24) & Real Pixel 3.

I'll try to create a repro later today and add screengrab.

[2019-09-02 16:42] zoontek commented on #20
Did your app hide the status bar on start? If not, can you try updating your `bootsplash.xml` for

[code]

[2019-09-02 16:47] zoontek commented on #20
Got it! You used `<item name="android:windowBackground">@drawable/bootsplash</item>`. Replace it with `<item name="android:background">@drawable/bootsplash</item>`, as mentioned in the README.

Don't ignore my previous comment: it fixes an issue for Android < 5 scaling the image on the full screen.

[2019-09-03 16:29] shwanton commented on #20
I re-read the docs and you are right, I used the wrong background property!
This did fix the jump on the emulator and my Pixel 3, unfortunately I still see the issue on a Galaxy S7.

I'm also seeing the scaling issue on a Galaxy S4.

When I get time, I'll link a git repo w/ examples.

[2019-09-04 05:14] rabanos-rvc commented on #13
up

[2019-09-04 08:21] rnnyrk opened #23 "Splash screen not hiding iOS; handleJavaScriptDidFailToLoad"
👋 Hello!

First of all thanks for making this product. Seems there was need for a new splash screen package next to react-native-splash-screen. I've installed it yesterday and it seems to work on Android, but on iOS I'm getting the following error in xcode:

[code]

The app is opening and the splash screen is show. But - as the error suggests with `handleJavaScriptDidFailToLoad` - it never disappe

[2019-09-04 11:10] vorasudh commented on #13
Which step do you think is missed?

[2019-09-04 16:41] shwanton commented on #20
I just tested this again today and looks like it's working on all devices!
Thank you for the help.

I'm still seeing the scaling issues on a Galaxy S4 but I can open a separate issue for that.

[2019-09-04 16:41] #20 closed

[2019-09-04 16:43] zoontek commented on #20
Sometimes it's just the Gradle cache 😄
No problem, open a new issue, we will investigate!

[2019-09-04 17:22] zoontek commented on #23
@rnnyrk Hi 👋
I made a release which might fix the issue: https://github.com/zoontek/react-native-bootsplash/releases/tag/1.0.1 Can you give it a try?

[2019-09-04 17:43] rnnyrk commented on #23
@zoontek Thanks for the fast fix. Update seems to work!

[2019-09-04 17:43] #23 closed

[2019-09-11 09:46] paras-kc commented on #15
how can i do it for android??

[2019-09-15 04:31] vijju1918 commented on #20
Im am seeing this issue on redmi note 4 device so i adjusted margintop as -24 and fixed the issue ,but the screens with larger resolution issue still remains.and when i remove margin top -24 (vice versa happens).Please help me out here thanks

[2019-09-15 23:14] rkaartikeyan opened #24 "Issue with React Native Firebase."
### 💻 My environment

[code]
- Platform: android
- OS version: 8.1
- Device: All
- Simulator: no
- Android buildToolsVersion: 3.4.1

### 🕵️‍♂️ Reproducing the issue

I have used React native firebase for push notifications. When I have opened the app and if I am getting a push notification, I can get the _body & title details in the .onNotification() callback of firebase.

But, in this callback fu

[2019-09-16 06:47] MoOx commented on #24
I guess if you remove totally react-native-bootsplash you don't have this issue anymore?

[2019-09-18 12:26] zoontek commented on #24
@rkaartikeyan This looks similar to the issue treated by this PR https://github.com/zoontek/react-native-bootsplash/pull/11. Maybe it wasn't enough.

Could you provides your `AndroidManifest.xml`?

[2019-09-19 09:47] vinurs commented on #13
is there any solution for this

[2019-09-19 09:49] zoontek commented on #13
@vinurs Didn't have the time to check, as I'm not using `react-native-navigation`. I would be happy if someone can help on this.

[2019-09-25 02:28] rkaartikeyan commented on #24
Dear Friends,

as mentioned in the document, we have to pass the notification message in data attribute, and its resolved.

[2019-09-25 02:28] #24 closed

[2019-09-29 23:08] kevinranks commented on #13
Hope someone can help with this!

[2019-10-04 15:07] grifotv opened #26 "What is the license of this project?"
Fantastic work! I'm currently using `react-native-splash-screen` but I'm considering switching to `react-native-bootsplash` based on this [comparison](https://github.com/zoontek/react-native-bootsplash#%EF%B8%8F%EF%B8%8F-comparison-with-react-native-splash-screen).

One clear advantage of `react-native-splash-screen` is the MIT license, so I was wondering which license this project will have.

[2019-10-04 15:16] MoOx commented on #26
MIT https://github.com/zoontek/react-native-bootsplash/blob/3820bf0bd7d259c7e307b6c85f2ccd9d73fc8fb7/package.json#L4

@zoontek you really need to think about this for your packages :D

[2019-10-04 15:20] grifotv commented on #26
@MoOx thanks. It should be ok to add a `LICENSE` file

[2019-10-04 21:47] zoontek commented on #26
@grifotv Can you make a PR with it?

[2019-10-05 09:13] zoontek commented on #26
Nevermind, I've done it: https://github.com/zoontek/react-native-bootsplash/commit/fea851cbc4d59a3a0796178dff9efb593ce8e34a

[2019-10-05 09:13] #26 closed

[2019-10-11 13:18] orkanylmz opened #27 "React Native 0.61.2"
Hi, is this still working in 0.61.2 ?

I can't hide programmatically the splash screen, it hides automatically as normal behavior

[2019-10-11 14:02] #27 closed

[2019-11-18 15:38] maderesponsively commented on #20
I added the following to bootsplash.xml and it solved the height shift issue..

`<resources>

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:textColor">#000000</item>
        <item name="android:windowFullscreen">true</item> <--- Added this
    </style>

      <style name="BootTheme" parent="AppTheme">

        <item name="android:background">@d

[2019-11-22 12:50] albert-carreras commented on #22
Can you explain what was wrong... Instead of just closing this? I'm facing the same issue

[2019-11-25 15:40] schumannd opened #28 "auto-linking does not work"
### 💻 My environment

- react-native-bootsplash version: 1.0.3
- react-native version: 0.61.4
- Platform: ios
- OS version: 13
- Device: n/a
- Simulator: n/a
- Android Studio version: n/a
- Android buildToolsVersion: n/a
- Xcode version: 11.1

### 🕵️‍♂️ Reproducing the issue

I npm installed the package and expected it to autolink. But it did not. Got the error on build:

    'RNSplashScreen.h' fi

[2019-11-25 16:03] zoontek commented on #28
@schumannd Do you run `pod install` after installing?

[2019-11-25 16:08] schumannd commented on #28
@zoontek yes I did. The Podfile was unchanged however.

[2019-11-25 16:13] zoontek commented on #28
@schumannd The unchanged `Podfile` is completely normal (it is loaded by the `use_native_modules!` instruction).

Could you provide the error? You forgot publishing it.
Could you also publish your `Podfile` **and** `Podfile.lock` content ? Did you open the `xcworkspace` generated file to compile your project?

[2019-11-25 16:43] schumannd commented on #28
i edited the OP

Podfile

    platform :ios, '9.0'
    require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

    target 'mindance' do
      # Pods for mindance
      pod 'FBLazyVector', :path => "../node_modules/react-native/Libraries/FBLazyVector"
      pod 'FBReactNativeSpec', :path => "../node_modules/react-native/Libraries/FBReactNativeSpec"
      pod 'RCT

[2019-11-25 17:56] zoontek commented on #28
`RNBootSplash` is correctly linked in your `Podfile.lock` (but maybe because of the manual pod declaration). Can you remove it, re-run `pod install` and check if it's still in the lock file? If it is, the issue is probably in your Xcode config, and we'll find it.

[2019-11-25 20:17] zoontek commented on #28
I just give a try on a fresh project with RN 0.61.4 without an issue.

[code]

Could you give a shot to https://www.npmjs.com/package/react-native-clean-project ?

[2019-11-26 10:06] schumannd commented on #28
I still had the old import from the `react-native-splash-screen` package. Dumb mistake. But thanks for your help anyways!

[2019-11-26 10:06] #28 closed

[2019-11-27 05:44] Miluaaa opened #29 "react native 0.61.4 ?"
### 💻 My environment

- react-native-bootsplash version:
- react-native version:
- Platform: ios / android / both
- OS version: ?
- Device: brand + model
- Simulator: yes / no
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or screenshots i

[2019-11-27 08:00] #29 closed

[2019-11-27 08:00] zoontek commented on #29
The template is totally blank, I close this.

[2019-11-28 07:53] rodolphefauquez commented on #22
@albert-carreras
I had the problem too, but the solution is on the readme x).

In your manifest, you probably forgot to remove the default `<intent-filter>` lines from your original activity (.MainActivity)

Keep only the `<intent-filter>` of the 2nd activity ('com.zoontek.rnbootsplash.RNBootSplashActivity') :
[code]

So your manifest should be like something like that:

[code]

[2019-11-29 14:51] MatthewPattell commented on #13
Hello everyone.
[Try my hot fix](https://github.com/MatthewPattell/react-native-bootsplash/tree/independent-splash)

See README.md for details.

[2019-12-02 18:52] rarira commented on #10
exactly same error...
it works as expected right after I installed..
but suddenly the error happens.. and immediately crash.

- react-native-bootsplash version: 1.0.3
- react-native version: 0.61.5
- Platform: android
- OS version: 10
- Simulator: yes

[2019-12-04 02:01] vitalbone opened #30 "TypeError: null is not an object (evaluating 'RNBootSplash.hide')"
### 💻 My environment

- react-native-bootsplash version: `^1.0.3`
- react-native version: `0.61.4`
- Platform: ios
- OS version: macOS Catalina `v10.15.1`
- Device: iPhone 11
- Simulator: yes
- Android Studio version: n/a
- Android buildToolsVersion: n/a
- Xcode version: `11.2.1`

### 🕵️‍♂️ Reproducing the issue

1. `yarn add react-native-bootsplash`
2. Follow exact steps in https://github.com/zoo

[2019-12-04 07:27] jochemjanssens opened #31 "Complex launchscreens on Android"
### 💻 My environment

- react-native-bootsplash version: 1.0.3
- react-native version: 0.61.5
- Platform: android

### 🕵️‍♂️ Reproducing the issue

I want to use a complex launchscreen on Android but when I dot this the app crashes with following error: `E AndroidRuntime: Caused by: android.content.res.Resources$NotFoundException: File res/drawable/bootsplash.xml from drawable resource ID #0x7f060

[2019-12-04 08:47] zoontek commented on #30
@vitalbone Hi. Did you do a `pod install`, opened the `xcworkspace`, clean the project in Xcode, and then build?

[2019-12-04 08:54] zoontek commented on #31
@jochemjanssens You drawable seems indeed too complex to be handled (you declare new layouts inside it, that's supposed to be the job of layouts/* files).

This library should be fine with everything listed on this page: https://developer.android.com/guide/topics/resources/drawable-resource

A default layout is applied automatically around your drawable, you can find it here: https://github.com/zo

[2019-12-04 10:13] vitalbone commented on #30
Hi @zoontek thanks for your response. I hadn't run that specific sequence of events at the time but have subsequently, and am now unable to build the app, due to this error in the `AppDelegate.m`:

`Use of undeclared identifier 'RNBootSplash'`

Pointing at this line:

[code]

Any idea what else I could try?

[2019-12-04 10:25] jochemjanssens commented on #31
@zoontek, thanks for the fast answer. I have recreated the splashscreen using the layer-list and then it works.

[2019-12-04 10:25] #31 closed

[2019-12-04 10:26] zoontek commented on #30
If it's correctly linked, it should be visible in your `Pods/Development Pods`. Clean up the Xcode cache and build.

[2019-12-04 10:30] vitalbone commented on #30
Ah yep, I was missing the header file, have added it and it is now working. Thanks for all your help.

[2019-12-04 10:30] #30 closed

[2019-12-04 13:55] gamingumar opened #33 "java.lang.NoSuchMethodException MainActivity.onCreate"
### 💻 My environment

- react-native-bootsplash version: "^1.0.3"
- react-native version: "0.61.5"
- Platform: android
- OS version: 7.1 and 9
- Device: Samsung Galaxy Tab S3 (gts3lwifi), Android 9 and ZTE K92 (primrose), Android 7.1
- Simulator: no
- Android Studio version: nil
- Android buildToolsVersion: "28.0.3"
- Xcode version: nil

### 🕵️‍♂️ Reproducing the issue

I am not getting the error

[2019-12-06 07:41] BartJanvanAssen opened #34 "timeout on launch"
Hey i'm having an issue that the app will not launch and was wondering if this was the issue...

2019-12-06 08:39:30.999 2051-2072/? W/ActivityTaskManager: Activity top resumed state loss timeout for ActivityRecord{7203840 u0 com.[MYAPP]/com.zoontek.rnbootsplash.RNBootSplashActivity t16}

any idea?

### 💻 My environment

- react-native-bootsplash version: newest
- react-native version: newest
- Pl

[2019-12-06 10:12] zoontek commented on #33
@gamingumar I'm not sure it's linked to the lib. I see that `com.tnfr.tnfr.MainActivity.onCreate` does not exists. Can you post the `com/tnfr/tnfr/MainActivity.java` and your `AndroidManifest.xml`?

[2019-12-06 10:17] zoontek commented on #34
@BartJanvanAssen Your app hangs at startup. Could you upload your `AndroidManifest.xml`?

[2019-12-06 18:26] #34 closed

[2019-12-06 19:23] gamingumar commented on #33
@zoontek That might be the cause.
I am using "react-native-screens": "^1.0.0-alpha.23",
Here are the files as you requested.

AndroidManifest.xml:
[code]

MainActivity.java:
[code]

[2019-12-06 19:40] zoontek commented on #33
Remove

[code]

From your MainActivity declaration.

[2019-12-06 19:43] zoontek commented on #33
Also, add `exported` key. Exactly like in the README

[code]

[2019-12-11 09:32] MohamadKh75 opened #36 "Deep Linking"
### 💻 My environment

- react-native-bootsplash version: 1.0.3
- react-native version: 0.61.5
- Platform: android
- OS version: Win 8.1
- Device: Samsung galaxy 7 edge
- Simulator: no
- Android Studio version: -
- Android buildToolsVersion: 28.0.3
- Xcode version: -

### 🕵️‍♂️ Reproducing the issue

I want to set up deep linking with react-navigation as described [here](https://reactnavigation.org

[2019-12-11 13:53] nicolashemonic opened #37 "Error: cannot find symbol RNBootSplash.show(R.drawable.bootsplash, MainActivity.this);"
### 💻 My environment

- react-native-bootsplash version: 1.0.3
- react-native version:  0.61.5
- Platform:  android

### 🕵️‍♂️ Reproducing the issue

I install `react-native-bootsplash` using automatic linking of RN 0.61.5.

MainActivity.java
[code]

The build failed with the following exception:

[code]

I tried to link the package with `react-native link react-native-bootsplash`, the command suc

[2019-12-11 14:13] nicolashemonic commented on #37
Well I understood!

I renamed `bootsplash` on `splash_screen` in `values/styles.xml`:

[code]

I think I would be nice to note in the documentant that this line:

[code]

and this line:

[code]

are dependent.

Thanks!

[2019-12-11 14:21] #37 closed

[2019-12-12 15:38] gamingumar commented on #33
Thanks @zoontek

[2019-12-13 08:01] KingAmo opened #38 "`view.setBackgroundResource(drawableResId)` cause oom on android with large image"
i have a `132KB` png image as splash screen, and app crash on launch with the following error message:
[code]
source code error line:

https://github.com/zoontek/react-native-bootsplash/blob/38c81194993fbdf78eda356d7f9e1c4b030c7b61/android/src/main/java/com/zoontek/rnbootsplash/RNBootSplash.java#L25

### 💻 My environment
[code]
- react-native-bootsplash version: `1.0.3`
- OS version: `android 6.0`

[2019-12-13 08:19] KingAmo commented on #38
it seems that it is better use `setBackgroundDrawable`

[2019-12-13 14:11] zoontek commented on #36
When your app the first time, it open with `RNBootSplashActivity` then `MainActivity`. The `RNBootSplashActivity` will pass all extras intents to your `MainActivity`, and starts it.
When you reload your app, the active Activity is already `MainActivity`, which can receive `aramesh` links according to your manifest.

Try adding the intent-filter to the splash screen activity too.

[code]

[2019-12-13 20:33] MohamadKh75 commented on #36
Tnx for your reply.

Unfortunately, the problem exist :neutral_face:
I edited manifest and rebuild. Now when i click on the button with link of `aramesh://agent/2` android gives me two options (Both are my app with same package name) and both of them don't load the `Landing` page. (As you can see, i added the `path: 'agent/:personID'` to my router!

I followed [this doc](https://reactnavigation.or

[2019-12-14 10:46] mnill opened #39 "Crash on android 10"
### 💻 My environment

- react-native-bootsplash version: 1.0.3
- react-native version: 0.61.5
- Platform: android
- OS version: 10
- Device: emulator
- Simulator: yes
- Android buildToolsVersion:  28

### 🕵️‍♂️ Reproducing the issue

Crashed on startup

java.lang.RuntimeException: Unable to start activity ComponentInfo{co.inskate/com.zoontek.rnbootsplash.RNBootSplashActivity}: android.content.res.

[2019-12-14 13:31] zoontek commented on #38
@KingAmo `setBackgroundDrawable` is deprecated.
Could you provide a screenshot of your `res` directory organization (all subfolders opened)? That's not normal that you provoke an `OutOfMemoryError` error with only a 144kb image.

[2019-12-14 13:45] zoontek commented on #39
@mnill I just give a shot to the example on an Android 10 emulator and everything went well, I guess it's something else.

Could you publish the content of your `drawable/bootsplash.xml` file? Thanks!

[2019-12-14 19:27] zoontek commented on #36
@MohamadKh75 I just published a release with the fix (`1.1.0`).

To handle deep linking, you have to:
- Add `android:launchMode="singleTask"` on your `MainActivity`
- Add `android:launchMode="singleTask"` on your `RNBootSplashActivity `
- Add the deep linking `<intent-filter>` inside the `RNBootSplashActivity`

For you, it will be:

[code]

Can you try and confirm that everything is OK? Thanks!

[2019-12-15 06:31] KingAmo commented on #38
![image](https://user-images.githubusercontent.com/29938227/70859012-86078400-1f47-11ea-8f40-7d12ca32eec2.png)
@zoontek  here it is, I think nothing special

[2019-12-15 06:32] KingAmo commented on #38
this is  my `bootsplash.xml`
[code]

[2019-12-15 07:54] mnill commented on #39
My bootsplash exactly as is in readme.

I failed to fast create minimal reproducible example, looks like it is because of combination of plugins in my project, also i have multidex enabled.

i'll try research it in future.

thank you.

[2019-12-15 09:07] mnill commented on #39
Failed to reproduce from a scratch, sorry for your time.

[2019-12-15 09:07] #39 closed

[2019-12-15 10:45] zoontek commented on #38
@KingAmo You have to provide resized drawable resources in each mipmap-x directory to prevent dynamic resizing at runtime and the OOM.

See the accepted from the StackOverflow linked you posted.

[2019-12-15 11:12] MohamadKh75 commented on #36
Yep! Everything is OK :tada:

Tnx :heart:

I'll create a PR to add this to readme :grin:

[2019-12-15 14:10] #36 closed

[2019-12-16 01:35] KingAmo commented on #38
i see, thanks a lot

[2019-12-16 01:36] #38 closed

[2019-12-16 11:05] voydz opened #41 "Can not upgrade to 1.1.1/1.1.3"
When trying to upgrade via yarn it spits out the following error:
[code]

### 💻 My environment

- react-native-bootsplash version: 1.1.0
- react-native version: 0.61.5
- Platform: both
- OS version: 10.15.1
- Device: irrelevant
- Simulator: irrelevant
- Android Studio version: 3.5.2
- Android buildToolsVersion: 26.x
- Xcode version: 11.3
- yarn version: 1.19.1

### 🕵️‍♂️ Reproducing the issue

Exp

[2019-12-16 11:25] zoontek commented on #41
@voydz I don't know why, but npm shits the bed right now (that's why I published 1.1.1, 1.1.2, 1.1.3). I prefer context their support instead of continuing publishing

[2019-12-16 13:04] voydz commented on #41
@zoontek Thanks for the info :)

[2019-12-16 18:07] mnill commented on #39
It was because I've used [react-native-make](https://github.com/bamlab/react-native-make) to set-icon.

It created mipmap with ic_launcher.png icon and mipmap-v26 with ic_launcher.XML for android 9+.

So on android 9+ bitmap fail to find @mipmap/ic_launcher and crashed

My first solution was wrong.

[2019-12-17 02:36] youngjuning commented on #1
how to invoke show method in js

[2019-12-17 02:40] youngjuning opened #42 "please export show method to js"

[2019-12-17 07:58] zoontek commented on #42
This package doesn't have a show method

[2019-12-17 07:58] #42 closed

[2019-12-17 08:00] youngjuning commented on #42
how to resolve white screen when use react-native-code-push

[2019-12-17 08:39] MoOx commented on #42
Make sense for this use case? I think discord app is doing something similar.

[2019-12-17 09:08] zoontek commented on #41
I had to publish version `1.2.0` because npm could not erase empty versions. It's available!

[2019-12-17 09:08] #41 closed

[2019-12-18 21:07] rtman commented on #13
@MatthewPattell @zoontek any chance we can get a fix for this?

[2019-12-19 05:00] afeichuanqi opened #43 "Why can't my launch icon slide down"
### 💻 My environment

- react-native-bootsplash version:
- react-native version:
- Platform: ios / android / both
- OS version: ?
- Device: brand + model
- Simulator: yes / no
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or screenshots i

[2019-12-19 08:23] #43 closed

[2019-12-19 08:24] zoontek commented on #43
Sorry, but you have to fill the template.

[2019-12-19 10:26] paolospag commented on #36
I had the same problem in the recent days and [this annotation](https://github.com/zoontek/react-native-bootsplash/issues/36#issuecomment-565745200) seems to have solved it, but what about usage with notifications' modules?
E.g., integrating RN Firebase Notifications (v5.6.0) and following the [documentation](https://rnfirebase.io/docs/v5.x.x/notifications/android) for Android, it requires `single

[2019-12-19 11:00] zoontek commented on #36
If I refer to https://inthecheesefactory.com/blog/understand-android-activity-launchmode/en, singleTop could be used as well (on both Activity). But I would recommend keeping `singleTask` on the BootSplash one

[2019-12-19 11:06] paolospag commented on #36
So, the code should be:

[code]

Is it correct?

[2019-12-19 11:08] zoontek commented on #36
@paolospag Yes! Android has some debug tools to test deeplinks, give it a try

[2019-12-19 20:42] afeichuanqi opened #46 "No matter how I change xcode, the react chart is always displayed at the beginning and then launchScreen.xib is displayed. Please tell me why?"
No matter how I change xcode, the react chart is always displayed at the beginning and then launchScreen.xib is displayed. Please tell me why?

[2019-12-19 22:05] #46 closed

[2019-12-23 04:46] jonyuen opened #47 "No known class method for selector 'show:'"
### 💻 My environment

- react-native-bootsplash version: 1.2.1
- react-native version: 0.61.2
- Platform: ios
- OS version: 13
- Device: brand + model: NA
- Simulator: yes
- Android Studio version: NA
- Android buildToolsVersion: NA
- Xcode version: 11.3

### 🕵️‍♂️ Reproducing the issue

Build fails. Followed installation instructions and got the error `No known class method for selector 'show:'`

[2019-12-23 08:35] zoontek commented on #47
@jonyuen Please publish your `AppDelete.m`content

[2019-12-24 01:06] jonyuen commented on #47
Here is the relevant AppDelegate.m content, I have `#import "RNBootSplash.h"` in my imports, as well as `#import <React/RCTRootView.h>`, `#import <React/RCTBundleURLProvider.h>`, and `#import <React/RCTBridge.h>`

[code]

I am using wix navigation - but not sure if the error is related

[2019-12-24 01:23] zoontek commented on #47
@jonyuen The line is wrong: it should be `[RNBootSplash show:@"LaunchScreen" inView:rootView];`. `[RNBootSplash show:@"LaunchScreen"];` does not exists

[2019-12-24 03:31] jonyuen commented on #47
Hi thanks for the reply!

I initially did that and the error was `No known class method for selector 'inView:'

I changed it to what i posted since I thought that change was needed for wix navigation, but both don't work.

[2019-12-24 14:24] vitalyiegorov opened #48 "iOS application is shown first than bootsplash icon is shown"
### 💻 My environment

- react-native-bootsplash version:1.2.1
- react-native version: 0.61.5
- Platform: ios
- OS version: MacOS Catalina 0.15.3 Beta (19D49f)
- Device: Iphone 8 (emulator)
- Simulator: yes
- Xcode version: 11.3 (11C29)

### 🕵️‍♂️ Reproducing the issue
This issue only relates to IOS, android works perfectly.

Expected:
- Bootsplash logo on custom background until `hide()` is called

[2019-12-26 09:33] zoontek commented on #47
@jonyuen Other seems to encounter issues with `react-native-navigation`: https://github.com/zoontek/react-native-bootsplash/issues/13 I guess the non-standard way to setup it mess with other libs

[2019-12-26 09:35] zoontek commented on #48
@vitalyiegorov This seems to be a tricky one. Could you provide a x1.00 speed playback video capture?

[2019-12-30 07:25] Arvi128 commented on #48
@vitalyiegorov I faced the same issue on both simulator and device.
Solved it by uninstalling the app and rebuilding the application using Xcode.

[2019-12-30 14:25] ninjz commented on #13
@MatthewPattell Thanks, this hotfix worked for me. Please submit a PR!

[2019-12-31 07:37] Zhang-DaLei opened #50 "How to stretch pictures to full screen according to screen size"
### 💻 My environment

- react-native-bootsplash version:1.2.1
- react-native version:0.61.5
- Platform: ios / android / both android
- OS version: 8.0
- Device: brand + model
- Simulator: yes
- Android Studio version: 3.5.3
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

I want to spread a large picture over the whole screen, but the picture is beyond the scope

[2019-12-31 11:21] zoontek commented on #47
I'm closing this in favor of https://github.com/zoontek/react-native-bootsplash/issues/13

[2019-12-31 11:21] #47 closed

[2019-12-31 11:25] zoontek commented on #50
@Zhang-DaLei Check the documentation for XML bitmap: https://developer.android.com/guide/topics/resources/drawable-resource#XmlBitmap

It has `android:gravity` prop which can be set to `fill` apparently

[2020-01-06 04:33] gatspy commented on #15
@zoontek your solution perfect!

[2020-01-07 10:18] zoontek commented on #48
@vitalyiegorov Could you confirm that @Arvi128 solution works for you? 🙂

[2020-01-07 10:30] zoontek commented on #13
I studied the case a bit and the solution provided in https://github.com/zoontek/react-native-bootsplash/pull/49 does not suit me: it creates a bunch of usages issues.
I'm closing this and added a warning in the `README`: https://github.com/zoontek/react-native-bootsplash/commit/35cdf62cf2c4cf9cee73d1a8cad457fbf8d31c68

[2020-01-07 10:30] #13 closed

[2020-01-07 10:31] #50 closed

[2020-01-08 12:58] ssilverr opened #51 "Feature request: the scripts should accept args, so it can be run in a CLI"
Hi!

I'm really liking this package, and I have a suggestion:

It would be nice, if the  `generate-bootsplash-assets` script acccepted args after it, like:

`npx generate-bootsplash-assets . brands/default icon.png 300`

Or have an exported member, so it can be called in a script like:

[code]

This way, it could be run in a none interactive environment like a CLI.

[2020-01-08 14:22] zoontek commented on #51
You are right: CLI support could be nice (with fallback to interactive mode if some args are missing).
https://github.com/sindresorhus/meow could be a great solution for implementing it.

[2020-01-09 10:11] alnthomas opened #52 "Splash screen jump"
The splash screens are misaligned and cause jump similar to the react-native-splash-screen.

Tested on Pixel 3 XL emulator and real device 19:8 aspect ratio.

Installed the latest version and followed the instructions on https://www.npmjs.com/package/react-native-bootsplash almost the same

The differences are
**Styles.xml**
[code]

**background_splash**
[code]

Why is this happening?

[2020-01-09 10:14] zoontek commented on #52
@alnthomas Please respect the issue template.

[2020-01-09 10:34] ssilverr commented on #51
I guess that I wrote that while tired, and I think we're on the same page, but just for completeness' sake, I meant: run in a CI/CD environment, not CLI (that is what it already does 😄)

[2020-01-09 10:35] zoontek commented on #51
@ssilverr Yeah I understood, no worry 😄

[2020-01-09 11:41] suwu150 opened #53 "Do you support GIF format or dynamic effect?"
Do you support GIF format or dynamic effect?

[2020-01-09 11:46] zoontek commented on #53
@suwu150 When the JS bundle is loaded and parsed, you can use animate your can copy and splash screen content with `Animated`. See the example: https://github.com/zoontek/react-native-bootsplash/blob/master/example/App.js

After, that, use your imagination: a Netflix-like logo intro, Twitter-like logo intro, make it glowing during your app bootstrapping (network requests), use Lottie to make a kic

[2020-01-09 11:46] #53 closed

[2020-01-09 13:20] alnthomas commented on #52
### 💻 My environment

- react-native-bootsplash version: 1.2.0
- react-native version: 0.60
- Platform: android
- OS version: 10
- Device: Mi 9 Pro
- Simulator: no
- Android Studio version: 3.5
- Android buildToolsVersion: 26.1.1

Inherited the app theme, it did work on the simulator (Pixel 2 XL). However, still jumps on the real device.

Added a landing/home screen similar to the splash screen as

[2020-01-09 13:23] zoontek commented on #52
I see you are setting `android:windowLayoutInDisplayCutoutMode`. Do you handle the notch? Did you add code in your `MainActivity` (like in this tutorial: https://dev.to/brunolemos/adding-notch-support-to-your-react-native-android-app-3ci3) ?

[2020-01-09 13:30] alnthomas commented on #52
No.
I removed `<item name="android:windowLayoutInDisplayCutoutMode">shortEdges</item>`.
Not using in fullscreen any more.

[2020-01-09 13:32] zoontek commented on #52
@alnthomas Then you confirm that a status bar is visible 100% of the time and that your app does not draw under?

[2020-01-09 13:33] alnthomas commented on #52
Yes. I confirm that a status bar is visible 100% of the time.

[2020-01-09 13:35] zoontek commented on #52
Do you have another physical device to test it?
Also can you create a repository with the minimal amount of code to reproduce the issue?

[2020-01-10 11:55] FadiAboMsalam commented on #39
@mnill  i am facing same issue how did you manage to fix that 🤔  ?

[2020-01-10 12:50] ferdynator commented on #39
Had the same issue because the `bitmap` in `bootsplash.xml` was referencing the `ic_launcher` resource, which is an XML file and not valid for `<bitmap src>`. This solved the issue:

    <layer-list xmlns:android="http://schemas.android.com/apk/res/android" android:opacity="opaque">
        <item android:drawable="@android:color/white" />

        <item android:drawable="@mipmap/ic_launcher" andro

[2020-01-13 12:48] gamingumar commented on #33
I removed this line
``` <category android:name="android.intent.category.LAUNCHER" /> ```
and the app icon won't show in launcher. After installing from playstore the open button also doesn't show up.

[2020-01-13 12:49] zoontek commented on #33
Please post your `AndroidManifest.xml`

[2020-01-14 19:03] gamingumar commented on #33
[code]
@zoontek

[2020-01-14 20:54] zoontek commented on #33
When I said remove them, I mean remove both lines (the commented and the other), and pout them in the other Activity!

[2020-01-15 02:02] meiqi1992 opened #54 "When the screen is full, the picture stretches and deforms, but there is no adaption"
### 💻 My environment

- react-native-bootsplash version:
- react-native version:
- Platform: ios / android / both
- OS version: ?
- Device: brand + model
- Simulator: yes / no
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

When the screen is full, the picture stretches and deforms, but there is no adaption，is it can scale?

### 🤞Solu

[2020-01-15 08:04] zoontek commented on #54
@meiqi1992 Please fill the template (OS, version, etc). Provides your `bootsplash.xml`. Maybe add a screenshot.

[2020-01-21 11:28] sebinq opened #55 "Apple Store will force using storyboard instead of xib by April 2020"
Hello there!

As quoted in [Apple Store news](https://developer.apple.com/news/?id=01132020b):

This lib is currently not supporting Storyboard am I right?

[2020-01-21 11:30] #48 closed

[2020-01-21 11:31] #54 closed

[2020-01-21 11:31] #33 closed

[2020-01-23 10:23] afeichuanqi commented on #52
Xiaomi Mi 6 is also beating. I fully follow your demonstration to operate the android configuration file.

[2020-01-23 11:23] zoontek commented on #52
@afeichuanqi  Could you provide a minimal example repository to help me reproduce the error?

[2020-01-23 11:26] zoontek commented on #55
@sebinq Hello! Not yet indeed. We need to find a new way to achieve the same result with a storyboard file and deprecate the xib support.

[2020-01-23 11:41] afeichuanqi commented on #52
I took a closer look just now. I think it's a problem with the status bar.
It is when the status bar appears that the height of center's father may have changed so that the logo icon sinks the distance of the status bar.
So how can I solve this

[2020-01-23 12:14] zoontek commented on #52
@afeichuanqi If you never provides me some code, we will never solve this!

[2020-01-30 17:17] whimsicaldreamer commented on #52
@zoontek Tried it on xiaomi mi a3. The screen do jump a bit.

**MainActivity.java**

[code]

**styles.xml**

<resources>

[code]

**NOTE:** I do have another issue and that is on setting the following:

[code]
all screens have a translucent status bar and navigation, which is obvious, but then how can I only set translucent behaviour only on the splash screen and not on other screens.

[2020-01-30 17:32] zoontek commented on #52
@whimsicaldreamer The issue here is that you set your status bar style directly in code (in your `MainActivity`) but your app does not start with it (it uses `RNBootSplashActivity`).

So instead of Java code, try to set your styles with a dedicated file (`styles-v28.xml` for Android Pie):

[code]

Not sure about the android config keys, but you get the idea 🙂

[2020-01-30 17:52] Rapsssito commented on #52
@zoontek, I also set the status bar and bottom navigation bar styles in the `MainActivity.java` in order to get a **fully transparent look on devices with notches and other decorations**.

[code]

Is there any possibility to get `RNBootSplashActivity.java` compatible with styling directly `onCreate`?

[2020-01-30 17:57] whimsicaldreamer commented on #52
I get the idea but what is the difference? Am sorry for this silly question but I am totally naive with android native code. Should I be creating a different values directory under res directory with the name `values-v28`?
Am not sure actually. 😖

[2020-01-30 17:59] Rapsssito commented on #52
@zoontek, thanks for the advice! Didn't think about that!

[2020-01-30 18:08] zoontek commented on #52
@whimsicaldreamer Yes, `res/values-v28/styles.xml` indeed 😅(not `styles-v28.xml`, my bad!).

The difference is that `react-native-bootsplash` starts with `RNBootSplashActivity` instead of `MainActivity` (because RN currently does not support `android:background` to set a splash screen and `android:windowBackground` is unreliable with notches).

`RNBootSplashActivity` does not have a translucent st

[2020-01-31 14:22] krakz999 opened #56 "Question about RNBootSplashActivity"
### 💻 My environment

- react-native-bootsplash version: 1.2.1
- react-native version: 0.61.5
- Platform: android
- OS version: Catalina
- Device: S10+
- Simulator: no
- Android Studio version: -
- Android buildToolsVersion: -
- Xcode version: -

### 🕵️‍♂️ Question

I’m wondering what’s the purpose of RNBootSplashActivity? I tried without it, and the splash screen still appeared immediately.

[2020-01-31 14:53] zoontek commented on #56
@krakz999 Could you provide your `android/app/src/main/res/values/styles.xml` for curiosity? 🙂

[2020-01-31 14:54] krakz999 commented on #56
I have rewritten the module to inflate a layout and show that instead of showing the drawable, so I only have my AppTheme in it.

[2020-01-31 15:13] zoontek commented on #56
`RNBootSplashActivity` exists only because RN does not currently support `android:background` property on `AppTheme`

see: https://github.com/facebook/react-native/issues/9072
and: https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewGroup.java#L182

[2020-01-31 15:28] krakz999 commented on #56
I've submitted a PR with my changes, it eliminates the need for a second activity. https://github.com/zoontek/react-native-bootsplash/pull/57

[2020-01-31 16:02] #56 closed

[2020-01-31 16:53] whimsicaldreamer commented on #52
@zoontek ok I tried your suggestion and it turns out that if I set
 `<item name="android:windowTranslucentStatus">true</item>`, the splash screen has the top area of splash screen covered with the splash screen backround colour. But then on my app's first screen the status is translucent which I do not want. How can that be fixed?

**values-v28/styles.xml**

[code]

**values/styles.xml**

[code]

[2020-02-01 12:43] lesmo opened #58 "ViewGroup.removeView on null object reference"
Hi! Thanks for this awesome lib! Today I found a _weird_ crash report coming from bootsplash. It has only been reported by a specific device so far, here are the details:

### 💻 My environment

- react-native-bootsplash version: 1.2.1
- react-native version: 0.61.5
- Platform: Android
- OS version: 5.0
- Device: Samsung Galaxy Note 3
- Android buildToolsVersion: ?

### 🕵️‍♂️ Reproducing the issue

[2020-02-01 17:34] whimsicaldreamer commented on #52
@zoontek Why do we need to have `AppTheme` as a parent of `BootTheme`? Why cant we use `SomeOtherTheme` as a parent of `BootTheme`?

[2020-02-01 17:37] zoontek commented on #52
To apply the same config and prevent these kinds of behaviors.

[2020-02-01 17:53] whimsicaldreamer commented on #52
If thats the case then how should I be doing so that my app screens have a opaque statusbar except for the splash screen?

[2020-02-01 17:59] zoontek commented on #52
@whimsicaldreamer If you want an opaque status bar, you can apply splash screen status bar color and change it with https://facebook.github.io/react-native/docs/statusbar#setbackgroundcolor once the app is started.

[code]

[code]
[code]

[2020-02-01 18:02] whimsicaldreamer commented on #52
In that case the splash screen too will have a status bar isnt it?
My requirement is that the splash screen should not have any statusbar. While the app screens should have a opaque statusbar.

[2020-02-01 18:05] krakz999 commented on #52
No it won't. Statusbar will come back in the same time you call ```BootSplash.hide();```

If you set a duration when you invoke hide like this ```BootSplash.hide(250);```, create a timeout with the same duration and call ```StatusBar.setBackgroundColor("#FFF");``` in it.

[2020-02-01 18:17] whimsicaldreamer commented on #52
@zoontek @krakz999 Am not sure but somehow in Mi A3 I don't get the splashscreen full screen.

[2020-02-01 18:50] zoontek commented on #52
@whimsicaldreamer Just apply the background color as status bar color.

[2020-02-01 19:03] whimsicaldreamer commented on #52
@zoontek and remove other android config keys like full screen?

[2020-02-01 19:05] zoontek commented on #52
@whimsicaldreamer Yes

[2020-02-02 08:25] whimsicaldreamer commented on #52
@zoontek it brings a statusbar to the splashscreen. :(

[2020-02-02 08:41] zoontek commented on #52
You want no status bar on the splash screen and an opaque status bar in your app. At some point, a jump will happen, it's inevitable.

You can also starts your app without a status bar and use the StatusBar module to display it when you want, but it will be ugly too. My advice: stay consistent. Keep a status bar on both, or no status bar on both.

[2020-02-02 09:09] whimsicaldreamer commented on #52
I understand. Can you advice me on how some apps get the splash screen without a statusbar while rest of the app with a status bar?

[2020-02-02 09:11] zoontek commented on #52
Keep the status bar translucent, put a View on top of your app with the StatusBar height and a white background?

[2020-02-02 16:56] mydesweb opened #59 "Unexpected flicker in iOS 12 at least"
Steps to reproduce:

1. Open the app
2. Kill the app from the background
3. Open again the app -> you will see for a few milliseconds an image with the last app state (as it was before you killed the app) -> then you will see the LaunchScreen

On latest iOS (iPhone models) it is hard to reproduce because the app is opened too fast I think.

this is why I am still using https://github.com/crazycode

[2020-02-02 19:08] zoontek commented on #59
@mydesweb Please respect the issue template for additional informations (😢).
Could you provide a video?

[2020-02-05 08:41] zoontek commented on #52
I'm closing this since it's not related to this library directly, but rather a misconfiguration between the `SplashActivity` and the `MainActivity`. If identical settings are applied, it works 😅

[2020-02-05 08:41] #52 closed

[2020-02-05 08:48] NiveshShastri commented on #59
I am facing the same issue with this library, please find video from below:

[video link](https://www.dropbox.com/s/k1iuaebf6mgdfuq/flickering.mp4?dl=0)

[2020-02-05 08:57] zoontek commented on #59
@NiveshShastri Which file did you use as a splash screen? It seems blank to me. (`LaunchScreen.xib`?)

If it is, can you check if it's properly used as a splash screen (this lib takes over when the app is booted, but if the boot configuration is wrong, this could happen)?

Check the following settings:

![Group](https://user-images.githubusercontent.com/1902323/73826142-8e6c9480-47fd-11ea-9bb3-c7b

[2020-02-05 08:59] NiveshShastri commented on #59
@zoontek  my splash screen is blank and I am using LaunchScreen.xib.

[2020-02-05 09:05] zoontek commented on #59
@NiveshShastri Just tried to reproduce it on my project and it does not happen. Is everything OK with your config, like in the screenshots? If yes, this could be the simulator / device cache. One way to nuke it: Uninstall the app, reboot the simulator / the phone, clean Xcode artifacts (DerivedData) and reinstall the app.

[2020-02-05 09:06] NiveshShastri commented on #59
@zoontek in which device you are testing.

[2020-02-05 09:08] zoontek commented on #59
@NiveshShastri Simulators from iOS 10 to 13, iPhone XR, iPhone SE, iPhone 5c, iPhone 11 Pro. It's our production app.

[2020-02-05 09:08] NiveshShastri commented on #59
@zoontek let me try your solution.

[2020-02-05 09:12] zoontek commented on #59
@NiveshShastri I just tried it again on our iPhone SE, in development mode too. It works flawlessly, so it's really not about the power of the phone 😅

[2020-02-05 09:17] mydesweb commented on #59
I manage to reproduce the issue only on iPhone 6 - iOS 12.4 physical device. On iPhone 11 it is working fine.

[2020-02-05 09:19] zoontek commented on #59
@mydesweb Did you checked the config, tried in release mode?

[2020-02-05 09:22] mydesweb commented on #59
@zoontek I am not at my computer, I will come back with more details soon. Thank you

[2020-02-05 09:22] NiveshShastri commented on #59
@zoontek same here issue is with iphone 6 not in iphone8 , 11 or later.

[2020-02-05 09:24] zoontek commented on #59
@NiveshShastri On which iOS version?

[2020-02-05 09:28] NiveshShastri commented on #59
@zoontek IOS 12.1.4.

[2020-02-05 09:41] zoontek commented on #59
@NiveshShastri I tried with the same configuration in a simulator and it happened once at first, when the JS bundle needed to load from my computer.

But I couldn't reproduce it in Release mode. It might be a small issue with the Launch screen debug implem (with xib files) in iOS 12, but check on your side.

You said that it does not happen with `react-native-splashscreen`, but did you implement `

[2020-02-05 09:50] NiveshShastri commented on #59
@zoontek I have tested in debug and release mode, but the bug is still there.

[2020-02-05 15:47] whimsicaldreamer commented on #52
It would be great if isolated configuration could be done, if possible. 😇

[2020-02-05 18:07] vikjovanov opened #61 "Execution failed for task ':app:transformClassesWithMultidexlistForDebug'"
### 💻 My environment

react-native info
[code]

react-native-bootsplash
[code]

### 🕵️‍♂️ Reproducing the issue

I have installed react-native-bootsplash and followed exactly all the information in the README!
However, I have a problem, when I try to compile my project, since I installed the package I get an error: Error while merging dex archives

This is my error:
[code]

I tried to use a comman

[2020-02-08 16:55] zoontek commented on #61
@vikjovanov This seems more related to https://developer.android.com/studio/build/multidex, not the library directly.

[2020-02-09 03:52] panda0603 opened #62 "A method to show the splash screen again"
### 💻 My environment

- react-native-bootsplash version: 1.2.1
- react-native version: 0.61.5
- Platform:  both
- OS version: ? mac 10.14
- Device: Macbook pro 13
- Simulator: yes

Thanks for the library.

Currently, there seems to be no method to show the splash screen again. For example, react-native-splash screen has the .show() method.

Is there any plans to implement such method?

[2020-02-09 09:45] zoontek commented on #62
@panda0603 Yes, I'm currently working on it. IOS is done, I need to code the Android part

[2020-02-14 17:46] zoontek commented on #61
@vikjovanov Did enabling multidex solved your issue?

[2020-02-17 20:35] alexander-mozolevsky opened #65 "Custom animation"
Hello, how can I change the animation after hiding SplashScreen (not sliding from the top to the bottom)?

By default I wanna get animations like in react-native-splash-screen.

[2020-02-18 09:16] zoontek commented on #65
@alexander-mozolevsky Hello. With `Animated` API directly: https://github.com/zoontek/react-native-bootsplash/blob/master/example/App.js#L16

[2020-02-18 09:17] #65 closed

[2020-02-18 19:56] tmaly1980 commented on #10
Can you clarify what you did? I'm running into this issue and not sure what to do.

[2020-02-21 09:40] igor-bv commented on #55
Hi there! @zoontek I'm not totally sure if my problem related to current issue, but I think it is so...
I've intialized latest rn app(0.61.5) from scratch, and trying to setup splash-screen for ios as described in docs, but in case if I remove this lines from `Info.plist`:
[code]
I'll receive the issue described here https://medium.com/codespace69/os-app-does-not-take-full-screen-on-iphones-602814

[2020-02-22 12:54] #61 closed

[2020-02-25 03:02] panda0603 commented on #46
@afeichuanqi @zoontek I have the same Issue at the moment. I directly edited LaunchScreen.xib in Xcode, deleted the default react native splash screen and put my splash Icons there. I still see the default react native's splash screen, then my custom splash screen after. How did you solve this problem?

[2020-02-25 07:18] zoontek commented on #46
Clean the build cache?

[2020-02-25 13:36] panda0603 commented on #46
@zoontek just deleted the app in simulator and ran build again. Worked. Thanks!

[2020-02-26 08:22] panda0603 opened #66 "How may I change the color(theme) of the Status Bar in Splash Screen (Android)?"
First of all, thanks for your library.

I would like to change the status bar color in the splash screen so that it matches the background color of the splash screen in Android.

Where do I specify this?

[2020-02-26 08:56] zoontek commented on #66
@panda0603 Using theme: http://www.gadgetsaint.com/tips/change-statusbar-color-android/

[2020-02-26 08:56] #66 closed

[2020-03-01 10:25] iamacoderguy commented on #20
I still got the issue on Xiaomi Redmi

[2020-03-01 10:36] iamacoderguy commented on #20
Nevermind. I've fixed it using the guideline here https://github.com/zoontek/react-native-bootsplash/issues/52#issuecomment-580366701

[2020-03-07 16:22] zoontek commented on #62
@panda0603 It's available in the new version: https://github.com/zoontek/react-native-bootsplash/releases/tag/2.0.0 🤘

[2020-03-07 16:22] #62 closed

[2020-03-07 16:23] zoontek commented on #58
@lesmo It has been fixed in the new version: https://github.com/zoontek/react-native-bootsplash/releases/tag/2.0.0 🤘

[2020-03-07 16:24] zoontek commented on #55
@sebinq It's available in the new version: https://github.com/zoontek/react-native-bootsplash/releases/tag/2.0.0 🤘

[2020-03-07 16:24] #55 closed

[2020-03-07 16:24] #58 closed

[2020-03-07 16:25] zoontek commented on #59
@NiveshShastri @mydesweb Could you try with the new version: https://github.com/zoontek/react-native-bootsplash/releases/tag/2.0.0 (now it's using storyboard files)

[2020-03-07 18:07] zoontek commented on #13
I have not tested it yet, but version `2.0.2` should supports `react-native-navigation` just fine: https://github.com/zoontek/react-native-bootsplash/releases/tag/2.0.2

[2020-03-07 23:55] itsyogesh opened #67 "[Suggestion] Implementing gifs for splash screen"
### 💻 My environment

- react-native-bootsplash version: 1.2.1
- react-native version: 0.61.5
- Platform: both
- OS version: OS X 10.14
- Device: Apple + iPhone 11
- Simulator: yes

### 🕵️‍♂️ Reproducing the issue

Explain what you did, what you expected to happen, and what actually happens.
Provide some code or screenshots if needed.

This is more of a suggestion, so I am not sure if this the rig

[2020-03-08 01:44] zoontek commented on #59
@NiveshShastri @mydesweb Could you try [the new version](https://github.com/zoontek/react-native-bootsplash/releases/tag/2.0.3)? It should be fixed, but I don't have a low end device to test it at home.

[2020-03-08 01:50] zoontek commented on #67
@itsyogesh Hi 👋 Sorry I'm not a big fan of gif because the ratio weight / image quality is horrible 😞

But it should be doable to setup a continuity between the splash screen and the logo animation, like in the example project. To create kick-ass animations, you can use [Lottie](https://airbnb.design/lottie/) with [react-native-lottie](https://github.com/react-native-community/lottie-react-native)

[2020-03-08 02:11] itsyogesh commented on #67
Hey, yup I agree completely with the image quality (and the size for good quality ones), but you gotta start somewhere 😅. What I can't seem to wrap my head around is how would you go about building that continuity screen, the one you show after the splash.

Okay so after some digging, I did find that we could use Lottie directly as an XML (http://airbnb.io/lottie/#/android?id=from-xml), is there a

[2020-03-08 02:17] zoontek commented on #67
@itsyogesh I would recommend not to implement them on the native side, it's too much complexity for a very small gain. I will create a small repository tomorrow using an animation from https://lottiefiles.com so you can understand how it can be done 🙂

[2020-03-08 02:25] itsyogesh commented on #67
Oh interesting, so my only worry with doing it on the JS side was that the time taken to load the JS bundle would be unpredictable and the animation won't start until the bundle is loaded. Do you think the asset loading would make it instant?

[2020-03-08 02:27] zoontek commented on #67
@itsyogesh As I know, it's possible to reference assets from `/assets` dir on Android or NSBundle on iOS so only the filename will cross the bridge, not the full json.

[2020-03-08 08:26] mydesweb commented on #59
@zoontek sure, I have an iPhone 6 and I will do the test later today, Thanks

[2020-03-08 15:18] zoontek commented on #67
@itsyogesh I published it here: https://github.com/zoontek/react-native-bootsplash-lottie-example

Unfortunately, there currently no way to be sure that the animation is loaded in `lottie-react-native`(see https://github.com/react-native-community/lottie-react-native/issues/316), but in release mode by referencing the filename and not parsing the animation JSON at runtime, it should be quite quick

[2020-03-08 18:18] mydesweb commented on #59
@zoontek I just installed version 2.0.4 on iPhone 6 - iOS 12.4.5 and problem problem is still here.. the app was signed with Ad Hoc profile (release mode) in development mode I didn't noticed the issue.
Check this video - [](https://drive.google.com/open?id=1JWAsRdjFP0SgyKpYH2WNlMlVagWR6Frd)
If needed I can run many other test and provide info that could help you to fix the issue, your library is

[2020-03-08 18:20] zoontek commented on #59
Did you update your AppDelegate to match this? https://github.com/zoontek/react-native-bootsplash/blob/master/README.md

[2020-03-08 18:23] mydesweb commented on #59
sure
<img width="1637" alt="Screen Shot 2020-03-08 at 20 21 42" src="https://user-images.githubusercontent.com/5901386/76168681-9f9d1e00-617a-11ea-9914-4887ad45ac24.png">
<img width="1558" alt="Screen Shot 2020-03-08 at 20 21 32" src="https://user-images.githubusercontent.com/5901386/76168684-a2980e80-617a-11ea-84dd-c5c64f707dc1.png">
<img width="1411" alt="Screen Shot 2020-03-08 at 20 21 20" src=

[2020-03-08 19:29] mydesweb commented on #59
@zoontek [https://github.com/mydesweb/rnbootsplash](https://github.com/mydesweb/rnbootsplash) check componentDidMount from App.js there is nothing special. You should see the problem also in dev not only in release..

[2020-03-08 19:31] zoontek commented on #59
Thank you! I will try tomorrow.

[2020-03-09 17:06] mydesweb commented on #59
@zoontek pls let me know if you managed to reproduce the issue at least

[2020-03-09 18:21] zoontek commented on #59
@mydesweb Yes. I also manage to find a solution, but I would like to test it more (probably publishing it on a specific branch to allow you doing the same). I really want to be sure it works flawlessly since it introduces a breaking change on module initialization.

[2020-03-11 08:12] mefjuu opened #68 "Attempt to invoke virtual method 'android.view.ViewParent android.widget.LinearLayout.getParent()' on a null object reference"
### 💻 My environment

- react-native-bootsplash version: 2.0.5
- react-native version: 0.61.5
- Platform: android
- OS version: 8 & 9
- Simulator: no
- Android buildToolsVersion: 28.0.3

### 🕵️‍♂️ Reproducing the issue

After upgrading to 2.x such a fatal error started to appear in our Sentry:

[code]

In the stack trace there are lots of repeated calls:

[code]

[2020-03-11 09:00] zoontek commented on #68
@mefjuu Hi. Can you publish some code?  (`MainActivity.java`, `styles.xml`, `AndroidManifest.xml`, `bootsplash.xml`)

[2020-03-11 10:20] mefjuu commented on #68
Sure! Below are the files you asked for.

I've just came up with how to reproduce that problem - while splash is displayed (before calling RNBootSplash.hide()) pressing Android's hardware back button results with that crash. Or if not so, opening app minimized previously (when splash screen was shown) crashes.

[code]
[code]

[code]

[code]

[2020-03-11 10:21] zoontek commented on #68
Thanks! I will fix this as soon as possible.

[2020-03-11 13:24] zoontek commented on #68
@mefjuu Could you try setting `android:launchMode="singleTask"` on both activities? Like in the deep linking example: https://github.com/zoontek/react-native-bootsplash#handle-deep-linking-on-android. (This behavior will be the default in RN 0.62 anyway)

[2020-03-11 15:17] mefjuu commented on #68
1. On splash screen, while app is loading, I'm pressing back button. In a while app is closed (I said "minimized" in my previous comment - sorry for the inaccuracy)
2. When I try to launch the app again, it crashes.

I don't specify `android:launchMode` (so it uses 'standard'), but I tried to change both app and bootsplash activities to "singleTask" and crashing still occured.

[2020-03-11 17:47] lesmo commented on #58
Thanks! I'll check it out

[2020-03-11 19:04] dudusotero opened #70 "RN triggers a lot of warnings after hiding SplashScreen - iOS"
### 💻 My environment

- react-native-bootsplash version: 2.0.5
- react-native version: 0.61.5
- Platform: ios
- OS version: 13.3
- Device: Apple iPhone 11
- Simulator: yes
- Xcode version: 11.3.1 (11C504)

### 🕵️‍♂️ Reproducing the issue

I just did the installation tutorial, both for Android and iOS, but the problem occurs only with iOS.
My simulator triggers a lot of warning messages after hidin

[2020-03-13 13:06] handoff opened #71 "Matching View color with icon color"
### 💻 My environment

- react-native-bootsplash version: 2.0.5
- react-native version: 0.61.5
- Platform: ios
- OS version: 10.3.3
- Device: iPhone 5c
- Simulator: no
- Xcode version: 11.3.1

### 🕵️‍♂️ Reproducing the issue

I am not able to match the colors of the background View och the BootSplashLogo. I have checked the color of the Logo with the Mac color picker, and also in Gimp. When I set t

[2020-03-13 13:18] zoontek commented on #71
@handoff Hi. Try updating the color profile of the background color to `Display P3`.

<img width="1566" alt="Screenshot 2020-03-13 at 14 16 50" src="https://user-images.githubusercontent.com/1902323/76624396-80fda500-6535-11ea-8e57-795d02cfadf1.png">

[2020-03-13 13:22] handoff commented on #71
Yes, that was it! Thanks a million!

[2020-03-13 13:23] zoontek commented on #71
No problem! 🙂

[2020-03-13 13:23] #71 closed

[2020-03-13 14:08] handoff opened #72 "Android crashes at launch"
### 💻 My environment

- react-native-bootsplash version: 2.0.5
- react-native version: 0.61.5
- Platform: android
- OS version: 5.1, 9
- Device: ASUS HW, Samsung Emulator
- Simulator: yes & no
- Android Studio version: 3.5.3
- Android buildToolsVersion: 28.0.3

### 🕵️‍♂️ Reproducing the issue

App crashes before launch.

Running logcat I can see
[code]

My MainActivity.java
[code]

My AndroidManif

[2020-03-13 14:17] zoontek commented on #72
Enable Multidex: https://developer.android.com/studio/build/multidex
Then clean the build folder `./gradlew clean`. Build again.

[2020-03-13 15:38] handoff commented on #72
I have my minSdk set to 21. Following the link I can read:

"If your minSdkVersion is set to 21 or higher, multidex is enabled by default and you do not need the multidex support library."

[2020-03-13 16:01] zoontek commented on #72
Then just do a Gradle clean.
But the error is not really tied to this lib.

[2020-03-13 16:09] handoff commented on #72
Weird, but probably try. Thank you for you suggestions.

[2020-03-13 16:09] #72 closed

[2020-03-14 14:24] punisher97 opened #73 "[Share] bootsplash in dark mode"
This is not a issue, only share to help anybody, if you want create bootsplash based on device theme.

Sorry my english.

# Android:

1. create two files bootsplash.xml as in README.md but change background color
- bootsplash_dark.xml
- bootsplash_light.xml

example: bootsplash_dark.xml
[code]

2. create this files in android/app/src/main/res/values/styles.xml
[code]

3. Create this file in androi

[2020-03-14 14:49] zoontek commented on #73
Thanks! I'm closing since it's not an issue, it will still be searchable. Maybe create a blog article too?

[2020-03-14 14:49] #73 closed

[2020-03-14 15:08] punisher97 commented on #73
Maybe, when i write blog with full example i will share here.

[2020-03-14 19:55] zoontek commented on #67
@itsyogesh Is this solution OK for you? 🙂

[2020-03-14 20:33] zoontek commented on #70
@dudusotero Hi 👋 Could you try the latest version? https://github.com/zoontek/react-native-bootsplash/releases/tag/2.1.0. The iOS logic has been updated, we now rely on `loadingView` and the bootsplash is only presented when the JS has finished loading.

[2020-03-14 20:34] zoontek commented on #68
@mefjuu I successfully reproduced it, and it should be fixed in the latest version: https://github.com/zoontek/react-native-bootsplash/releases/tag/2.1.0

Could you try it?

[2020-03-14 20:36] zoontek commented on #59
@mydesweb @NiveshShastri Could you try the new version? https://github.com/zoontek/react-native-bootsplash/releases/tag/2.1.0

We now rely on `RCTRootView` `loadingView`, it's cleaner and it might solve your issue 🙂

[2020-03-14 23:40] dudusotero commented on #70
@zoontek Of course! I will create a brand new project for testing purposes, any problems I will report here.

[2020-03-14 23:54] dudusotero commented on #70
Everything working fine!! Just update to the latest version, run ```pod install``` and install the app again.
Thank you @zoontek

[2020-03-14 23:54] #70 closed

[2020-03-14 23:54] zoontek commented on #70
@dudusotero Glad to hear that 🙏

[2020-03-15 13:17] mydesweb commented on #59
@zoontek I just tested the latest version (updated pods and AppDelegate) but it is unstable.. check my video [https://drive.google.com/file/d/1tNCnZjS5N76_B0WGNofu1dV8mCG2ebJW/view](https://drive.google.com/file/d/1tNCnZjS5N76_B0WGNofu1dV8mCG2ebJW/view)
1. as you can notice the  "Convertor Valutar" label disappear while RN bundle is loaded.. and logo will move a little
2. after few openings you wi

[2020-03-15 13:20] zoontek commented on #59
The text is part of your Storyboard main view?

[2020-03-15 13:25] mydesweb commented on #59
@zoontek this is a Storyboard created from Xcode File -> New File -> Launch Screen (under User Interface) .
<img width="1655" alt="Screen Shot 2020-03-15 at 15 21 36" src="https://user-images.githubusercontent.com/5901386/76702249-1b462000-66d1-11ea-8cee-33c2e3e7869d.png">

[2020-03-15 13:27] zoontek commented on #59
Could you publish the Storyboard file text content? I want to check something

[2020-03-15 13:31] mydesweb commented on #59
@zoontek  I don't understand what you need from me (I am not an iOS developer) please be more explicit or I can give you Team Viewer.

[2020-03-15 13:33] zoontek commented on #59
@mydesweb Open the `BootSplash.storyboard` file in your text editor, copy and paste its content here.

[2020-03-15 13:34] mydesweb commented on #59
@zoontek
<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.Storyboard.XIB" version="3.0" toolsVersion="15705" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" launchScreen="YES" useTraitCollections="YES" useSafeAreas="YES" colorMatched="YES" initialViewController="01J-lp-oVM">
    <device id="retina5_5" orientation="portrai

[2020-03-15 13:35] mydesweb commented on #59
@zoontek
`
<?xml version="1.0" encoding="UTF-8"?>
<document type="com.apple.InterfaceBuilder3.CocoaTouch.Storyboard.XIB" version="3.0" toolsVersion="15705" targetRuntime="iOS.CocoaTouch" propertyAccessControl="none" useAutolayout="YES" launchScreen="YES" useTraitCollections="YES" useSafeAreas="YES" colorMatched="YES" initialViewController="01J-lp-oVM">
    <device id="retina5_5" orientation="portr

[2020-03-15 13:38] mydesweb commented on #59
@zoontek  here it is [https://drive.google.com/file/d/1FXAwSgEbpnjVcVnCFIPQuW1cr7-CDV6j/view?usp=sharing](https://drive.google.com/file/d/1FXAwSgEbpnjVcVnCFIPQuW1cr7-CDV6j/view?usp=sharing)

[2020-03-15 13:46] zoontek commented on #59
Tried it with a clean Xcode cache, an `UILabel` inside the main `UIView`, on iOS 12, the text didn't disappear.

Check the video:
https://drive.google.com/file/d/1nIt7KUwvzVuK2xdoKvLheD3wPmA19yRx/view

[As `loadingView` type is a `UIView`](https://github.com/facebook/react-native/blob/0.61-stable/React/Base/RCTRootView.m#L189), if the `UILabel` is inside it, it shouldn't cause any issue.

My `Boot

[2020-03-15 14:03] mydesweb commented on #59
@zoontek I Don't have access to see the video, anyway the fact the text is disappearing **it is not the only issue**, the logo is also moving a little to left .
I don't understand if it is something wrong with my LaunchScreen.storyboard but **I just reverted to version 2.0.5 and I don't see these issues.**

[2020-03-15 14:09] mydesweb commented on #59
@zoontek maybe you forgot to reinstall pods? I managed to reproduce the issue on my iPhone 11 (v 2.1.0) , on v 2.0.5 everything is working fine. I also do from Xcode -> Product -> Clean build folder before run a new test

[2020-03-15 14:31] zoontek commented on #59
No, it's based on the repository example which already uses `2.1.0`. I setup layout constraints on the image and the label.

[2020-03-15 14:40] mydesweb commented on #59
@zoontek I don't see any difference from your video and my setup, I just tested on my iPhone 6 and iPhone 11 (psychical devices) and managed to reproduce the issue every time, I will continue to use version 2.0.5 for the moment..

[2020-03-15 14:51] zoontek commented on #59
If something moved, I recommend switching devices to be sure your constraints are well set:

<img width="854" alt="Screenshot 2020-03-15 at 15 50 56" src="https://user-images.githubusercontent.com/1902323/76703828-db813780-66d4-11ea-8308-86356669a84c.png">

[2020-03-15 14:54] mydesweb commented on #59
I know, I already did this and all is fine. I released my app with version 2.0.5 yesterday, today after I updated your lib to 2.1.0 I just started to see the issues described..

[2020-03-15 14:59] zoontek commented on #59
@mydesweb Tried it on all the phone I have at home (I currently work remotely because of Covid-19), without any hiccups. (iPhone XR on iOS 13, iPhone SE on iOS 13, iPhone 5C on iPhone 10, with React Native 0.61.5, no other dependencies)

[2020-03-15 15:10] mydesweb commented on #59
@zoontek share with me your code (repo) I will run yarn install & pod install to see if it is working on my side also.. I don't understand where is the difference

[2020-03-15 15:23] zoontek commented on #59
@mydesweb I invited you to contribute on a repro repository.

[2020-03-15 17:03] GIAVINH2010 commented on #52
It works for me. Thanks

[2020-03-15 18:36] mydesweb commented on #59
@zoontek I just tested your example:
**good** news - it's working also for me as expected
**bad** news - on my iPhone 6 after a while (open the app - remove the app from background, close the phone, reopen the app) I started to see my initial issue I reported to you. check the video. see also a strange warning.
video - [https://drive.google.com/file/d/1ssJIu9xKgXu2ABZxlj31OaTERG-gjfNt/view?usp=sha

[2020-03-15 18:44] mydesweb commented on #59
@zoontek check also these logs
2020-03-15 20:43:09.973329+0200 RNBootSplashExample[391:20608] Can't end BackgroundTask: no background task exists with identifier 3 (0x3), or it may have already been ended. Break in UIApplicationEndBackgroundTaskError() to debug.
2020-03-15 20:43:09.979642+0200 RNBootSplashExample[391:20608] [ApplicationLifecycle] UIWindows were created prior to initial application

[2020-03-15 18:51] zoontek commented on #59
The warning seems unrelated, more of a missed asset resolution.

Great news if it works as expected. Concerning the initial issue, it should switch back quicker now, but I'm afraid it couldn't be solved without locking the main thread (which is super bad)

[2020-03-15 18:53] mydesweb commented on #59
ok.. what about the logs? especially this one:
UIWindows were created prior to initial application activation. This may result in incorrect visual appearance.

[2020-03-15 18:56] zoontek commented on #59
I'm talking about the yellow screen warning.

[2020-03-15 20:40] mydesweb commented on #59
@zoontek somehow your solution encourage the developer to do much more tasks (make api calls and other things) then hide the launch screen , which is also wrong

I prefer a simple and stable solution, to hide the launch screen right after the javascript bundle is loaded.

Extracted from HIG

A launch screen appears instantly when your app starts up and is quickly replaced with the app's first scre

[2020-03-15 20:56] zoontek commented on #59
@mydesweb For such a simple task, you don't even need a library.

[code]

[2020-03-15 21:00] #59 closed

[2020-03-15 21:03] mydesweb commented on #59
Ok, I think you are right and we can close the issue. But I have one more question regarding the logs provided, it is something normal?..

[2020-03-15 21:08] zoontek commented on #59
No. But I will make a breaking change to remove the `show` support at runtime. I don't need it in my personal project, and it's the cause of a lot of troubles.

[2020-03-15 21:14] mydesweb commented on #59
I don’t know if my tests helped you to make this lib better but I really appreciate what are you doing! Thank you for your time.

[2020-03-16 12:35] mefjuu commented on #68
I've been trying to trigger a crash but with no luck, fortunately. So, big thanks!

[2020-03-16 12:35] #68 closed

[2020-03-19 12:38] Gert-YXS opened #75 "The startup diagram cannot fill up the screen"
### 💻 My environment

- react-native-bootsplash version: 2.1.0
- react-native version: 0.61.5
- Platform:  android
- Device: Android Simulator
- Simulator: yes
- Android buildToolsVersion: 28.0.3

### 🕵️‍♂️ Reproducing the issue

I hope that the startup map on the IOS or Android device can fill the screen. I have carefully read the documentation and run the examples provided by this library, but s

[2020-03-20 01:54] Hicbik opened #76 "Hello there! How does Android hide the status bar at startup?"
### 💻 My environment

- react-native-bootsplash version:2.0.5
- react-native version: 0.61
- Platform: android

### 🕵️‍♂️ Reproducing the issue
 I need to set the color of the status bar at startup, or display the pictures full screen to make them look uniform! I don't have the basics of native Android knowledge ... thanks for the answers!

[2020-03-20 08:51] zoontek commented on #76
@Hicbik Hi! Set `android:statusBarColor` in your `styles.xml`. See https://stackoverflow.com/questions/37197235/change-status-bar-color-in-android

[2020-03-20 08:51] #76 closed

[2020-03-20 08:56] zoontek commented on #75
@Gert-YXS Hi! As Android devices have a ton of possible ratios, this format of splash screen (plain image) is not ideal. But you can see the [Android documentation](https://developer.android.com/guide/topics/resources/drawable-resource#XmlBitmap). Try `android:gravity="fill_vertical"`

[2020-03-22 03:48] Gert-YXS commented on #75
非常感谢您的回答，设置了`android:gravity="fill"` 解决了我的问题

[2020-03-22 03:49] Gert-YXS commented on #75
Thank you very much for your answer, setting `"android: gravity =" fill"` solved my problem

[2020-03-22 03:49] #75 closed

[2020-03-22 09:21] panda0603 opened #77 "Splash Icon size change bug in iOS"
Hello there,
I have created a .storyboard file and image asset for splash screen in xcode (did not use the cli). Splash screen shows fine, but the splash screen icon size changes(very quickly) when splash screen is shown.

![gif](https://user-images.githubusercontent.com/34116285/77246335-a5f6c400-6c69-11ea-820d-406ecaed7c05.gif)

It is quite fast, but you can notice the size change. Small -> grow

[2020-03-22 09:55] zoontek commented on #77
Maybe a mismatch between the declared size and the assets size? Did you change it or it always has been the défaut size?

[2020-03-22 10:45] panda0603 commented on #77
I have just tried the cli and works fine. Though the logo in the center is too small, I wish to make it larger (I'v set the icon width to 100 in cli). Do i have to go through the cli again to set the width to bigger size? I'll close the issue for now

[2020-03-22 10:45] #77 closed

[2020-03-22 10:46] zoontek commented on #77
Yes, just give a number higher than 100, the CLI will handle the rest 🙂

[2020-03-22 13:02] shadow-boy opened #78 "use my custom layout ,but it don't work and still show bootsplash.xml"
RNBootSplash.init(R.layout.launch_screen, MainActivity.this);

[2020-03-22 14:18] #78 closed

[2020-03-24 15:03] OlegWock opened #80 "TypeError: null is not an object (evaluating 'RNBootSplash.hide') / Class RNBootSplash was not exported"
### 💻 My environment

- react-native-bootsplash version: 2.1.0
- react-native version:0.58.6
- Platform: ios
- OS version: Mac os x
- Device: iphone 8
- Simulator: yes
- Xcode version: 11.0

### 🕵️‍♂️ Reproducing the issue

Tried to setup bootsplash for ios. I faced some errors, but it might be related to old rn version. I was managed to fix them and run module, did everything according to README

[2020-03-24 15:13] zoontek commented on #80
This module does not support React Native < 0.60. See https://github.com/zoontek/react-native-bootsplash#support

[2020-03-24 17:46] OlegWock commented on #80
Oh, sorry, I didn't noticed this :(

But jetify is for Android, isn't it? Android version of app works like clockwork

[2020-03-25 14:57] zoontek commented on #80
Jetify is for Android only yes. It's more about "this package has not been tested on RN under 0.60 / will not be fixed / maintained for these versions" 😕

[2020-03-26 15:56] hannojg opened #81 "Can't integrate with RNN on iOS"
### 💻 My environment

- react-native-bootsplash version:  2.1.0
- react-native version: 0.61.5
- Platform: ios
- OS version: 13.4.99
- Device: iPhone 11
- Simulator: yes
- Android Studio version: not relevant
- Android buildToolsVersion: not relevant
- Xcode version: 11.4

### 🕵️‍♂️ Reproducing the issue

I am trying to implement this library and I am using in my react-native project wix's react-n

[2020-03-26 16:53] OlegWock commented on #80
Ah, got it. Thanks for your help :)

[2020-03-26 16:53] #80 closed

[2020-03-26 17:19] zoontek commented on #81
You can't use this package with RNN since it does not use `RCTRootView`. I looked a bit in the source code and see: https://github.com/wix/react-native-navigation/blob/master/lib/ios/ReactNativeNavigation.m#L73

If it's called, it will display the storyboard defined in your `info.plist`: https://github.com/wix/react-native-navigation/blob/master/lib/ios/RNNSplashScreen.m#L13

[2020-03-26 21:40] olegdev commented on #13
Please provide some instructions of how to.. thnx

[2020-03-27 06:17] hannojg commented on #81
Thank you so much for having looked up this information!
This behaviour is actually fine for me, as it will now open my beautiful bootsplash storyboard. I am doing all the initalization stuff before I actually load the first page with RNN (setting root). This way everything works like it should.

[2020-03-27 06:17] #81 closed

[2020-03-27 08:39] ysuMgl opened #82 "Pictures could not cover the whole screen"
### 💻 My environment

- react-native-bootsplash version:2.1.0
- react-native version:0.61.5
- Platform: ios
- OS version: 10.14
- Device: Apple + iphonex
- Simulator: yes

### 🕵️‍♂️ Reproducing the issue

I tried to generate pictures, but when I started the app, the picture was very small on the screen and could not cover the whole screen, just like the picture below. In Xcode, I opened the storeb

[2020-03-28 00:25] zoontek commented on #82
I suggest reading this guide: https://developer.apple.com/library/archive/documentation/UserExperience/Conceptual/AutolayoutPG/WorkingwithConstraintsinInterfaceBuidler.html

Define the correct constraints, then switch devices as preview frames to check that they are set correctly.

[2020-03-29 05:09] edoofx opened #83 "Stuck On Splash"
### 💻 My environment

- react-native-bootsplash version: 2.1.0
- react-native version: 0.61.5
- Platform: android
- OS version: 9
- Device: SAMSUNG NOTE8
- Simulator: no

### 🕵️‍♂️ Reproducing the issue

when im run with :

npx react-native run-android (DEBUG) : Running Well
npx react-native run-android --variant=release : Running Well
gradlew assembleRelease , install manual on device : Running W

[2020-03-29 11:10] zoontek commented on #83
Provide your JS code

[2020-03-29 14:44] edoofx commented on #83
MainActivity.java
[code]

AndroidManifest.xml
[code]

App.js

[code]

AuthLoading.js

[code]

im confused because i cant trace error.. and some device install from playstore running well

thanks in advance @zoontek

[2020-03-30 08:21] edoofx commented on #83
i think this issues because hermes enabled.

https://github.com/facebook/react-native/issues/26400

[2020-03-30 08:23] zoontek commented on #83
@edoofx Did you tried https://github.com/facebook/react-native/issues/26400#issuecomment-539395814 ?

[2020-03-30 11:48] edoofx commented on #83
yep, add this code

[code]

now work like a charm.

thanks in advance for response @zoontek

[2020-03-30 11:48] #83 closed

[2020-03-31 12:33] rhdeck opened #85 "Automate adding BootSplash.storyboard to Xcode"
Right now one needs to follow instructions inside xcode to activate a bootsplash launchscreen. This is a slowdown for every new app .

### 🤞Solution

Automate adding the storyboard to the project, and setting it as the launch screen as part of the CLI! Now one does not have to open Xcode at all to have their bootsplash work in a new project.

Addressed in PR #84

[2020-03-31 14:43] rhdeck opened #86 "Automate support for dark mode in iOS"
For IOS: Storyboards use Xcode image and color assets, which as of Xcode 11 contain metadata to point to different underlying bitmaps and color codes respectively. By setting up the assets to use both light mode and dark mode we can support a seamless integration of darkmode.

I would further suggest that we use system colors by default - instead of #fff background color, we use the systemBackgrou

[2020-04-01 22:33] afilp opened #87 "Can we have different storyboard per scheme/configuration?"
Hello,

I create 3 different white-label apps using 3 different configurations and schemes.

I cannot find how to link to a different LaunchScreen.storyboard per scheme (configuration), so that when I run/archive the project the proper launch screen appears. So you provide for this?

Thank you.

### 💻 My environment

- react-native-bootsplash version:  2.1.0
- react-native version:  0.61.2
- Platf

[2020-04-01 22:47] zoontek commented on #87
Create an Info.plist for each Scheme, then set a different `UILaunchStoryboardName` in each.
I'm closing this, it's not an issue.

<img width="918" alt="Screenshot 2020-04-02 at 00 42 59" src="https://user-images.githubusercontent.com/1902323/78193718-77ec5d80-747b-11ea-839a-10e2b41991cf.png">

<img width="748" alt="Screenshot 2020-04-02 at 00 42 25" src="https://user-images.githubusercontent.com/

[2020-04-01 22:47] #87 closed

[2020-04-01 22:49] #67 closed

[2020-04-03 15:37] zoontek commented on #86
Hi @rhdeck

I love the idea. One small point bugs me:

To ensure consistency across systems (iOS and Android), it might be better to ask for a light background color and a dark background color.

Maybe we could use different defaults than `#fff` and `#000` (hardcode default iOS values, apply the same colors on Android?), but it's not a priority IMHO if we can adjust the color really quickly by re-

[2020-04-03 15:39] zoontek commented on #85
I replied here: https://github.com/zoontek/react-native-bootsplash/pull/84/files/6c497b7256326609bff4e996810af3d26701450d#r403085694

[2020-04-04 03:54] rhdeck commented on #86
The technical impact of this question is minor enough that showing in a PR is probably the best way to support that decision. Will submit when I have it working right on my end.

[2020-04-05 14:48] jamesholcomb opened #88 "LaunchScreen.xib image briefly shown at boot after upgrade to storyboard"
### 💻 My environment

- react-native-bootsplash version: 2.1.0
- react-native version: 0.59.10
- Platform: ios / android / both iOS
- OS version: ? 13.3
- Device: brand + model iPhone
- Simulator: yes / no both
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: 11.3.1

### 🕵️‍♂️ Reproducing the issue

My previous config used bootsplash 1.2.1 and LaunchScreen.xib file.  I u

[2020-04-05 15:49] zoontek commented on #88
This is a caching issue. I already encounter it too. Follow this procedure: https://stackoverflow.com/a/35783070

(+ You can delete your `DerivedData` folder before rebuilding)

[2020-04-05 15:58] jamesholcomb commented on #88
Thanks @zoontek

[2020-04-05 15:58] #88 closed

[2020-04-06 02:52] rhdeck opened #89 "Enable named exports"
### 💻 My environment

- react-native-bootsplash version: 2.1.0
- react-native version: 0.62.1
- Platform: both

### 🕵️‍♂️ Reproducing the issue

The following fails:

[code]
### 🤞Solution

Add named exports to index.js! Appled in PR

[2020-04-06 12:43] #89 closed

[2020-04-07 20:26] rhdeck commented on #86
I made a pass at this at https://github.com/rhdeck/react-native-bootsplash/tree/dark. Addable via `yarn add rhdeck/react-native-bootsplash#dark`. I gotta say it's pretty slick to see the results.

I have not PR'd it because I discovered an issue I'd wish discussed. In order to support a dynamic background in the launch storyboard (e.g. for light/dark mode support) we need to use a named color - a

[2020-04-09 02:17] wibb36 commented on #72
I'm having the same issue. Android shows the splash then crashes the moment is ready.

[2020-04-12 14:53] drb1 opened #92 "Could not find a storyboard named 'BootSplash' in bundle NSBundle"
### 💻 My environment

- react-native-bootsplash version:2.2.0
- react-native version:0.61.5
- Platform: ios
- OS version: 13.4
- Device: iphone 11 Pro Max
- Simulator: yes
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: 11.4

### 🕵️‍♂️ Reproducing the issue

I followed every steps as mentioned in docs,but while launching app in ios app crashes generating the error:-

Ex

[2020-04-13 08:36] zoontek commented on #92
You didn't drag and drop the storyboard file / set it as LaunchScreen: https://github.com/zoontek/react-native-bootsplash/blob/master/README.md#ios-1

![890D21B2-4232-4A88-94D0-E5AAC86DAAC6](https://user-images.githubusercontent.com/1902323/79106347-9bb07d00-7d72-11ea-8469-cc735655e48d.jpeg)

[2020-04-13 10:50] kamui545 opened #93 "Regression in 2.2.0: Splash screen not dismissed after refreshing app"
Hello,

I just upgraded my package from 2.1.0 to 2.2.0 and noticed a regression.
After refreshing the app (CMD + R), the splash screen is displayed correctly but not dismissed.

### 💻 My environment

- react-native-bootsplash version: 2.2.0
- react-native version: 0.62.2
- Platform: ios
- OS version: 13.4
- Simulator: yes
- Xcode version: 11.4

### 🕵️‍♂️ Reproducing the issue

1. Launch app, splas

[2020-04-13 10:52] zoontek commented on #93
@kamui545 Hi! Sorry, I see what it is, and forgot to push something. I will release a fix ASAP.

[2020-04-13 10:55] kamui545 commented on #93
No worries, thanks for the blazing fast reply!

[2020-04-13 11:21] zoontek commented on #82
@ysuMgl Did you succeed?

[2020-04-13 11:30] zoontek commented on #93
@kamui545 The fix is [published](https://github.com/zoontek/react-native-bootsplash/releases/tag/2.2.1)! Enjoy 🙂

[2020-04-13 11:30] #93 closed

[2020-04-13 11:40] kamui545 commented on #93
Works like a charm 👌Thanks!

[2020-04-13 14:11] R-D-P opened #94 "cannot find module prompts"
### 💻 My environment

- react-native-bootsplash version: 2.2.1
- react-native version: 0.62.0
- Platform:  both
- OS version: mac os 10.15.4
- Device: macbook pro
- Simulator: no

### 🕵️‍♂️ Reproducing the issue

The following error occurs as soon as I run npx generate-bootsplash

Cannot find module 'prompts'
Require stack:
- /Users/russellphillips/Documents/Projects/the-memoire-app/memoire-fronte

[2020-04-13 14:23] zoontek commented on #94
Which command did you used to install your dependencies?

[2020-04-13 14:39] R-D-P commented on #94
I used npm install --save react-native-bootsplash
Does that answer the question, or did I have to do something more. :)

[2020-04-13 14:42] zoontek commented on #94
Yes. For some reason, `npm` didn't install the `devDependencies`. It's supposed to happen only in production mode (`npm install --only=production`)

[2020-04-13 14:45] zoontek commented on #94
No it's the opposite: `npm` did this without setting the --only=production flag. Did you set NODE_ENV to production? Or maybe you have a global npm config that does that?

[2020-04-13 14:46] R-D-P commented on #94
I did no such thing intentionally i'm afraid.

[2020-04-13 14:48] zoontek commented on #94
I will move the CLI dependencies from `devDependencies` to `dependencies` to prevent this kind of issues.

[2020-04-13 14:49] zoontek commented on #94
Try to do this: https://stackoverflow.com/a/44655805

[2020-04-13 14:53] R-D-P commented on #94
I unset the noe env
still seem to get the same error

[2020-04-13 15:07] ysuMgl commented on #82
Sorry，I haven't solved it，I am new at this area and I can't make sense what you hava recommended.
May I take the liberty of asking you where can I find video tutorials about your project or have you ever put your video tutorials on youtube or other websites so that I can learn it deeply.

[2020-04-13 15:12] zoontek commented on #94
I made a quick release, it should fix it. https://github.com/zoontek/react-native-bootsplash/releases/tag/2.2.2

[2020-04-13 15:14] drb1 commented on #92
i have done it
![Screen Shot 2020-04-13 at 20 57 09](https://user-images.githubusercontent.com/14246236/79132201-9a5e6f00-7dc9-11ea-9032-840cdf342444.png)
![Screen Shot 2020-04-13 at 20 57 23](https://user-images.githubusercontent.com/14246236/79132213-a1857d00-7dc9-11ea-938f-aa996f929047.png)

[2020-04-13 15:20] zoontek commented on #92
Your Launch Screen file is empty on the screenshot. Can you check it's correctly added to your target (it should be if you kept [this checkbox](https://raw.githubusercontent.com/zoontek/react-native-bootsplash/master/docs/xcode-2.png?raw=true) ticked)?

<img width="1229" alt="Screenshot 2020-04-13 at 17 17 28" src="https://user-images.githubusercontent.com/1902323/79132667-07aed780-7dab-11ea-8610-

[2020-04-13 15:21] R-D-P commented on #94
Thanks a lot, I ended up using yarn instead though. :D

[2020-04-13 15:21] #94 closed

[2020-04-13 15:35] drb1 commented on #92
Copy Bundle Resources does not exists
![Screen Shot 2020-04-13 at 21 12 54](https://user-images.githubusercontent.com/14246236/79133914-8cf6b400-7dcc-11ea-9608-89f035516c97.png)
![Screen Shot 2020-04-13 at 21 18 45](https://user-images.githubusercontent.com/14246236/79133928-92ec9500-7dcc-11ea-9205-1857628d5c30.png)

[2020-04-13 16:33] zoontek commented on #92
It is by default when you create a React Native project. Add it back, like this, then add `BootSplash.storyboard` in the list:

<img width="845" alt="Screenshot 2020-04-13 at 18 31 42" src="https://user-images.githubusercontent.com/1902323/79138638-23b77680-7db5-11ea-8ac3-0d297ec47eb9.png">

[2020-04-13 16:59] drb1 commented on #92
Okay managed to launch storyboard but while refreshing app launch screen does not goes off .
![Screen Shot 2020-04-13 at 22 42 10](https://user-images.githubusercontent.com/14246236/79140679-12339600-7dd8-11ea-98cf-8893ae931eb7.png)

P.S I have called RNBootSplash.hide(); function in componentDidMount lifecycle.

[2020-04-13 17:11] zoontek commented on #82
This has nothing to do with this library in particular. I suggest to search tutorial about Storyboard layouting in general (like [this one](https://www.raywenderlich.com/1343912-adaptive-layout-tutorial-in-ios-12-getting-started)).

Depending on what you want to achieve, rules and constraints will change.

A quick example (I wanted to stuck the image to top, left, bottom and to scale to aspect fit

[2020-04-13 17:12] zoontek commented on #92
@drb1 Did you use version `2.2.0`? Update to the latest, it has been fixed.

[2020-04-13 17:33] drb1 commented on #92
Thank You So Much.Problem Has Been Solved.

[2020-04-13 17:34] #92 closed

[2020-04-14 04:33] iWaleedibrahim opened #96 "App Stuck on boot screen when reloading the javascript bundle."
### 💻 My environment

- react-native-bootsplash version: 2.2.0
- react-native version: 0.61.5
- Platform: ios
- Simulator: yes
- Xcode version: 11.2.1

### 🕵️‍♂️ Reproducing the issue

SplashScreen hides as expected on first launch, when  reloading the js bundle app stuck on splash screen.

[2020-04-14 07:00] zoontek commented on #96
Update to the latest version, it has been fixed

[2020-04-14 07:00] #96 closed

[2020-04-14 15:19] zoontek commented on #86
I would rather having a different package, bumping the target minimum version is a no go for us 😕

[2020-04-14 15:31] rhdeck commented on #86
You got it. Since the prereq for this feature is incompatible with the package, will close the issue.

[2020-04-14 15:31] #86 closed

[2020-04-15 11:53] AndriiBoiko opened #97 "Splash Icon size change bug in iOS"
Hi !!

💻 My environment
  "react-native-bootsplash": "^2.2.2",
    "react-native": "0.62.2",
Platform: ios
OS version: 13
Simulator: yes
Xcode version: 11.4

🕵️‍♂️ Reproducing the issue

I set size 200 (not 100)
and got the same issue  - https://github.com/zoontek/react-native-bootsplash/issues/77
PS did with a CLI
<img width="795" alt="Screenshot 2020-04-15 at 14 51 49" src="https://user-images.g

[2020-04-15 12:10] zoontek commented on #97
@AndriiBoiko First, hello? Second: [issue templates](https://github.com/zoontek/react-native-bootsplash/blob/master/.github/ISSUE_TEMPLATE.md) exists for a reason.

[2020-04-15 12:13] zoontek commented on #97
Clean your build, delete the Xcode cache (`DerivedData` etc).

[2020-04-15 12:13] #97 closed

[2020-04-15 12:14] AndriiBoiko commented on #97
Sorrry )) fixed ))

[2020-04-15 12:19] AndriiBoiko commented on #97
did all that you said - nothing
the same behaviour

[2020-04-16 18:50] mezalejandro opened #99 "iOS splash devices"
Hello,
I have images for all devices but it always shows me the first image loaded in Images.xcassets, for example I try with an ipad it does not show me the image for ipad

### 💻 My environment

- react-native-bootsplash version: 2.1.0
- react-native version: 0.61.5
- Platform: ios
- Simulator: yes
- Xcode version: 11.4

Thanks

[2020-04-16 19:08] zoontek commented on #99
@mezalejandro Did you used the CLI? You need to create a storyboard file per device for that.

[2020-04-17 06:02] Mokto opened #100 "[ANDROID] We see a white screen for a few ms when rebooting the app"
### 💻 My environment

- react-native-bootsplash version: 2.2.3 (i followed the changes you made on the readme regarding the AndroidManifest file).
- react-native version: 0.62.2
- Platform: android (ios works flawlessly)
- OS version: 10
- Device: Samsung A40
- Simulator: no
- Android Studio version: 3.6.1
- Android buildToolsVersion: 29.0.3 / 28.0.3 are installed

### 🕵️‍♂️ Reproducing the issue

[2020-04-17 13:19] #82 closed

[2020-04-19 08:10] zoontek commented on #100
@Mokto Hi 👋 This is a complex case tied to how RN + rn-bootsplash couple works on iOS and Android.

On iOS, we use `RCTRootView` `loadingView` and switch to a custom `UIViewController` when the content is loaded (RN dismiss the `loadingView` at this time, but you don't see it, because it's behind)

On Android, no mechanism like this exists: we make an `Activity` with a custom background appear at

[2020-04-19 14:07] zoontek commented on #100
@Mokto I worked on fixing this issue, [there is hope](https://twitter.com/zoontek/status/1251873824028733441)!  I will make a PR on the React Native repo asap.

[2020-04-19 14:17] Mokto commented on #100
Wow, good job !

Thanks ;)

[2020-04-22 19:27] #85 closed

[2020-04-23 20:00] aserrabl opened #101 "chalk@4.0.0 makes package require node v10"
### 💻 My environment

- react-native-bootsplash version: 2.2.3
- react-native version: 0.61.5
- Platform: both

### Reproducing the issue

Reinstalled dependencies in my project using node v8.17.0 and the last update of this package made made it incompatible. Is it really necessary to set the chalk dependency version to 4.0.0?

Can be solved by fixing react-native-bootsplash to 2.1.1 though, but i

[2020-04-23 20:56] zoontek commented on #101
Which of your packages make the update impossible? Node 14.x juste came out, which means Node 10.x was 2 years ago.

[2020-04-24 10:12] MykolaSauliak opened #102 "Suggested features: choose different splash image on start and dispaly some text settled programatically"
It will be cool if there is an opportunity to add some text, for example at the bottom of splash screen
Maybe it can be done through showing different images on start or just change view layout
I can try to make some pull requests

[2020-04-24 11:05] zoontek commented on #102
@MykolaSauliak The CLI create a base, but you can edit your splash screen in Xcode / Android studio after that. I don't want the CLI generation to be complex and with a ton of options as the possibility are infinite.

[2020-04-24 11:05] #102 closed

[2020-04-24 11:08] #99 closed

[2020-04-24 16:50] micheilsgrey opened #103 "White screen and deadlock warning."
### 💻 My environment

- react-native-bootsplash version: ^2.2.3
- react-native version:~0.61.4
- Platform: iOS
- OS version: IOS 13.4
- Device: iPhone 11(13.4.1)
- Simulator: yes
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: 11.4.1

### 🕵️‍♂️ Reproducing the issue
I am not sure what i did wrong, but every time splash screen appears with white screen at the end. And. h

[2020-04-24 17:49] zoontek commented on #103
The white flash is related to this [race condition](https://stackoverflow.com/questions/28354756/presentviewcontroller-completion-block-called-too-soon).

I found a solution, but it creates a breaking change (the `hide` method should return a `Promise`)

[2020-04-24 18:20] zoontek commented on #103
Try [2.2.4](https://github.com/zoontek/react-native-bootsplash/releases/tag/2.2.4)

[2020-04-24 19:40] luancurti commented on #103
@micheilsgrey to fix the warning you need import `RCTDevLoadingView` on when you are in development mode and `RCT_DEV` is true try [this](https://github.com/facebook/react-native/issues/16376#issuecomment-350523177)

[2020-04-25 07:22] micheilsgrey commented on #103
Right now i can not test new version on iOS but today i implement the android part and upadte to last version and this is what it looks like:
![SplashAndroidtest2](https://user-images.githubusercontent.com/8958040/80273757-b1f8fa00-86dd-11ea-964c-f1625d3dc09c.gif)

I remove evrything from App.js thinking i just messed up something with my navigator( i am using `react-navigation` v5) or something e

[2020-04-25 08:09] zoontek commented on #103
@micheilsgrey Ohhhhhh I see it now. You have to run the `Bootsplash.hide` in a `useEffect` to ensure the App is mounted.

[2020-04-25 08:10] zoontek commented on #103
Check the example: https://github.com/zoontek/react-native-bootsplash/blob/master/README.md#real-world-example

[2020-04-26 10:02] micheilsgrey commented on #103
Since i am new to javascript and react, do i need change my whole class to function so i could use 'useEffect' ?

[2020-04-26 10:06] zoontek commented on #103
It's not a class in example:

[code]

If you use classes, `componentDidMount` is what you search.

[2020-04-26 10:10] micheilsgrey commented on #103
I see, thank you so much. I will try your advice soon.

[2020-04-26 10:13] #103 closed

[2020-04-26 13:16] micheilsgrey commented on #103
@zoontek  thanks its actualy now working right with clear view without data. But if i use my navigation with redux i still having white screen so if i understand right i need somehow to detect when is actualy my navigation is ready to show on screen and i have no idea how can i listen to my navigation when its ready... I dont know do i messed up with `redux `or its just normal behavior of `react-n

[2020-04-26 13:19] zoontek commented on #103
React Navigation emit events: https://reactnavigation.org/docs/navigation-events

[2020-04-30 04:44] amirmcs opened #105 "React logo on startup"
I just downloaded and followed the instructions the splash screen works great (thanks for making it so easy to addscreen.).
I see react logo on startup breifly even though  I replaced all the files in "Assets" folder and in iOS images.xcassets folder.  Now when I load the app I see first react logo then it replaces with the logo I created.

Where is the image file for the very first react logo dis

[2020-04-30 07:59] zoontek commented on #105
@amirmcs Related issue: https://github.com/zoontek/react-native-bootsplash/issues/48
This is probably related to the Spotlight cache on device. Uninstall your app, restart your phone. Then clean your Xcode project, build it again.

https://stackoverflow.com/questions/33002829/ios-keeping-old-launch-screen-and-app-icon-after-update

[2020-04-30 08:29] amirmcs commented on #105
It worked. Thanks for quick reply

[2020-04-30 08:29] #105 closed

[2020-05-04 04:21] raajnadar commented on #102
But how can we add text drawable.xml does not allow text. I tried using layout file the app crashes on startup. @zoontek Can you provide an example for this?

[2020-05-05 16:22] afilp commented on #83
@edoofx I still have this problem with RN 0.61.5, despite I have the following code:

[code]

[2020-05-06 03:22] bashen1 commented on #103
@zoontek
App icon click
LaunchScreen(info.plist)
White screen                        <===== //the issue
didFinishLaunchingWithOptions(RNBootSplash)
LaunchScreen
hide LaunchScreen

[2020-05-06 20:55] verdeya opened #106 "Deep linking issue on android from push notification"
Hi,

Having an issue with deep links from a push notification if the app isn't already running.  The app is always launched but the data object on the intent is null.

Removing `react-native-bootstrap` from the project fixes the issue.

This is the relevant code from my `AndroidManifest` file.

[code]

and my `MainActivity`:

[code]

### 💻 My environment

- react-native-bootsplash version: 2.2.4
-

[2020-05-07 12:52] afilp commented on #83
Hi, @zoontek I mistakenly referenced @edoofx , can you please see above?

It appears that I have the same problem which is not resolved. Am I missing something else?

Thank tou!

[2020-05-07 12:53] zoontek commented on #83
@afilp Where do you call `RNBootsplash.hide` ?

[2020-05-07 12:56] zoontek commented on #106
Hi. Which lib are you using to read notifications? Core `Linking` module?

[2020-05-07 15:57] afilp commented on #83
@zoontek Thanks!

We call it in Main.js which is called by index.js. Note that it used to work. We made several changes like `react-navigation`, etc.

`Main.js`
[code]

`index.js`
[code]

[2020-05-07 16:01] zoontek commented on #83
It's probably a side effect then 😕 Can you reduce the amount of code by commenting some part too isolate the issue?

[2020-05-07 20:32] aecorredor opened #107 "[Android] assembleRelease fails: android.support.annotation does not exist"
### 💻 My environment

- react-native-bootsplash version: 2.2.4
- react-native version: 0.62.2
- Platform: android
- OS version:
- Device: any
- Simulator: no
- Android Studio version: 3.5
- Android buildToolsVersion: 5.4.1
- Xcode version: N/A

### 🕵️‍♂️ Reproducing the issue

I followed the installation instructions step by step. iOS works perfectly. Android works in the simulator perfectly (by r

[2020-05-08 03:47] panda0603 opened #108 "[Android] shows blank screen for short time when opened from Linking"
Hi,

Splash screen shows/hides perfectly fine when opened normally from app drawer.

However when app is opened(initially app is not running) using linking,
(on android when you click on a link and didn't set default app to open, you get to choose which app to open the link with)

splash screen shows -> blank white screen for short time(0.5 sec?) -> shows splash screen again -> then hides.

Not su

[2020-05-08 07:41] zoontek commented on #108
@panda0603 Hi. Did you follow the guide? https://github.com/zoontek/react-native-bootsplash#handle-deep-linking-on-android

[2020-05-08 07:44] zoontek commented on #107
Check that AndroidX is enabled on your project: https://stackoverflow.com/a/56876517

[2020-05-08 07:46] #101 closed

[2020-05-08 13:51] aecorredor commented on #107
AndroidX has been enabled in our project for a while. We actually added this library after already being in 0.62.2. Even though this project doesn’t need jetifier to work, RN 0.60+ still runs it automatically no matter what from what I read in their repo.

Here are those files:

gradle.properties
[code]

app/build.gradle
[code]

[2020-05-08 14:05] zoontek commented on #107
For some reason, your `assembleDebug` seems to run a [reverse jetify](https://github.com/mikehardy/jetifier#to-reverse-jetify--convert-node_modules-dependencies-to-support-libraries) (`jetify -r)`.

If you check the library code, you will see that the imports are differents (they correctly target AndroidX):

- [RNBootSplash.java#L14](https://github.com/zoontek/react-native-bootsplash/blob/2.2.4/an

[2020-05-08 14:22] aecorredor commented on #107
@zoontek thanks for looking into that man. I think the reverse jetify might be what's causing the problem. I'll try to clean and to see why it's doing a reverse jetify and let you know if that fixes it.

Thanks again.

[2020-05-08 14:24] panda0603 commented on #108
@zoontek Thanks for the reply.
[code]
Yes, this is my manifest at the moment. Anything I am missing?

[2020-05-08 17:10] aecorredor commented on #107
@zoontek alright man, so we had `jetify -r` for some reason in our project...Don't know how that had not given us issues before. That, plus doing `react-native clean-project-auto` worked like a charm. Thanks for the insights.

[2020-05-08 17:10] #107 closed

[2020-05-08 21:01] tvelev92 commented on #107
@aecorredor `error Unrecognized command "clean-project-auto"`

[2020-05-08 21:02] aecorredor commented on #107
@tvelev92 it's an external package, check the library @zoontek pointed to: https://github.com/pmadruga/react-native-clean-project

[2020-05-09 15:15] panda0603 commented on #108
adding android:launchMode="singleTask" solved the problem. Thanks

[2020-05-09 15:15] #108 closed

[2020-05-12 17:20] afilp commented on #83
@zoontek I found the problem, sorry, I also had code from react-native-splashscreen. Now it shows the splashscreen.

There are 2 problems though:
1. The splashscreen shows for too little, it immediately hides when the JS is loaded. But I do have this, which seems to be ignored (not: I am using `@react-navigation/native` in case this matters:
[code]

2. The splashscreen always shows white color aro

[2020-05-12 18:05] zoontek commented on #83
@afilp You have to hide after initial render. Use componentDidMount or useEffect for that

[2020-05-12 18:08] afilp commented on #83
@zoontek Thanks, I do this exactly as you say, in `Main.js` (see it thread above: https://github.com/zoontek/react-native-bootsplash/issues/83#issuecomment-625342218)

[2020-05-12 18:11] zoontek commented on #83
@afilp Does `Main` render your App entirely? Try listen to react-navigation events.

[2020-05-12 18:33] afilp commented on #83
@zoontek I removed rendering of react-navigation just for test:

[code]

It looks a simple render, unfortunately the splash screen first hides and then "Waiting..." appears.

I even did this, to test `show` and the splashscreen does not show while `waiting` has been rendered:

[code]

Still the splashscreen does not show in JS, even with the `.show` method

[2020-05-13 12:45] afilp commented on #83
I used to have `react-native-splashscreen` and I had all screens ready for mdpi, hdpi, etc. Now they seem to have padding around them (the purple color is the actual image), so they appear smaller.

See below, I deliberately used a different `bootsplash_background` color to show this "padding" around the purple image.

![image](https://user-images.githubusercontent.com/7850073/81813814-9c366200-95

[2020-05-13 15:09] zoontek commented on #83
@afilp If your splash is just a logo, use the CLI to generate new assets.

[2020-05-14 15:03] afilp commented on #83
@zoontek Good news, I managed to fix the problem with the `.hide` it now does hide.

I will also check your suggestion about the CLI, thanks a lot for your great support!

[2020-05-14 15:21] afilp commented on #83
It did work! But the cli creates the proper files for the `main` flavor (Android), while we I have many other flavors:

`android\app\src\main\res\drawable\bootsplash.xml
android\app\src\main\res\values\colors.xml
`

For example, I wanted to do this for `flavor1` so that all related assets go to the `/flavor1` folder instead:

`android\app\src\flavor1\res\drawable\bootsplash.xml
android\app\src\fla

[2020-05-14 15:24] zoontek commented on #83
@afilp Not for now. We worked on using react-native CLI on the next major version, so our priority is to migrate and keep a rock-solid developer experience with it. After that, maybe we will add additional options.

[2020-05-14 15:29] afilp commented on #83
The least I can do for your great support, is this "typo-fix" PR:
https://github.com/zoontek/react-native-bootsplash/pull/109

[2020-05-15 08:53] andreiradoi opened #110 "Cannot resolve symbol zoontek"
**Versions:**
react-native: "0.62.2",
react-native-bootsplash: "^2.2.4"
Android studio 3.6.3
buildToolsVersion: 28.0.3

**Code**
import com.zoontek.rnbootsplash.RNBootSplash;

**Error message**
Cannot resolve symbol zoontek

Tried the manual installation as well, without success.

[2020-05-15 08:55] zoontek commented on #110
@andreiradoi Hi. Please provide **more** code. It's not enough context.

[2020-05-15 08:58] andreiradoi commented on #110
Hi,

// MainActivity.java
`package com.appName;

import android.os.Bundle;
import com.facebook.react.ReactActivity;
import com.zoontek.rnbootsplash.RNBootSplash; -> this line throws error

public class MainActivity extends ReactActivity {

  @Override
  protected String getMainComponentName() {
    return "AppName";
  }

   @Override
    protected void onCreate(Bundle savedInstanceState) {
      s

[2020-05-15 08:59] zoontek commented on #110
Run `./gradlew clean` in your android directory.

[2020-05-15 09:06] andreiradoi commented on #110
./gradlew clean along with Android Studio restart seems have fixed it.

Thank you!

[2020-05-15 09:06] #110 closed

[2020-05-15 19:44] imYashGupta opened #111 "Release build stuck at splash screen but work fine in debug"
Hi, so i was trying to add the splash screen in my app and follow the installation in debug it work as expected but when i release the signed APK the app stuck at splash screen , i was using codepush and react navigation i thought it was due code-push so i create the fresh installation  and try without it the same happen everything work on debug mode but when i create the release it stuck on splas

[2020-05-16 10:25] zoontek commented on #111
Thanks for the repository, I successfully reproduce your issue. But the state of your assets bugs me a little…

You have missing assets in mdpi size: https://github.com/imYashGupta/rn-splashscreen/tree/master/android/app/src/main/res/drawable-mdpi

**And less importantly, but:**
- A raw directory with your `app.json`: https://github.com/imYashGupta/rn-splashscreen/tree/master/android/app/src/main/

[2020-05-20 09:17] imYashGupta commented on #111
Thank you @zoontek , my app is back to track now and i've noticed that the raw directory in my app created when i run the cmd `react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res` and this also added the drawable-x folders.

in my app i am also using react-navigation and oth

[2020-05-20 09:17] #111 closed

[2020-05-23 10:07] rinoarmadiaz opened #112 "[ASK] How to create custom xml layout in Android?"
Hello, i've managed to setup the splash using the guide.

but my case are need to have 3 separate View (background, top image & text)

i need to use my custom layout, how to use it? thanks!

[2020-05-23 11:00] zoontek commented on #112
Hello. You can't use a custom layout, but `bootsplash.xml` is using a `layer-list`. I would recommend reading the Drawable resource documentation: https://developer.android.com/guide/topics/resources/drawable-resource#LayerList

[2020-05-23 11:39] #112 closed

[2020-05-24 16:04] aiba opened #113 "[ios] Launch screen jumps around"
Per the README, I added added `RNBootSplash.initWithStoryboard` to the suggested location:

[code]

But that resulted in the launch screen jumping around as the app opened.

When I moved the init call to the bottom of the function, it works perfectly:

[code]

Is this expected?  I'm just wondering if we should update the README so others can avoid the jumping launch screen as well.

### 💻 My envir

[2020-05-25 07:01] zoontek commented on #113
That's not supposed to make a difference, and I personally never see a jump.

Could you create a video capture?

[2020-05-25 10:49] Fan commented on #113
Was having the same issue. Moving to the bottom solved it for me too!

[2020-05-25 10:54] zoontek commented on #113
@Fan Good to know. We could move it in the documentation / example.
The current implementation rely on rootView loadingView, so it's without consequences.

[2020-05-25 11:19] zoontek commented on #113
Closed by https://github.com/zoontek/react-native-bootsplash/pull/114
Thanks, @Fan

[2020-05-25 11:19] #113 closed

[2020-05-25 17:21] giacomocerquone opened #115 "npx generate-bootsplash gives 404"
Hi, npx generate-bootsplash gives 404.
Should the README be updated with some other package name or what?

Thanks for the awesome work!

[2020-05-25 17:31] zoontek commented on #115
@giacomocerquone Do you have installed the package before?

[2020-05-25 20:59] approached opened #117 "[Question] How i can make the image bigger in android?"
👋 Hello!

I have read the documentation https://developer.android.com/guide/topics/resources/drawable-resource#LayerList. But i have no idea how i can make the image bigger.

[code]
Do you have a idea?

[2020-05-25 21:09] cecodor commented on #110
Having the same problem, gradlew clean did not worked for me :(

![image](https://user-images.githubusercontent.com/23288172/82843219-1c01ec00-9ea2-11ea-9a2d-a5d24659fb14.png)

[2020-05-25 21:21] zoontek commented on #117
A step of the generation is the image width. Just increase it.

[2020-05-25 21:21] #117 closed

[2020-05-25 21:49] cecodor commented on #110
I finally solve it by updating the gradle plugin (Android Studio suggested this) and later I had to do this: https://stackoverflow.com/a/49645970/7090275, now its working

[2020-05-25 22:26] giacomocerquone commented on #115
absolutely yes, the package is installed and I lastly ended up creating the splash myself!
I'll paste npm, node and react native info

[2020-05-25 23:26] zoontek commented on #115
Which version of npx do you use?

[2020-05-26 16:37] giacomocerquone commented on #115
yes, I'm truly sorry and very happy and grateful to see such a fast response!
I was using an old version of the package, damn... I've never found an npm command that shows me the outdated packages, do you know one? Specifically, it should look for major version changes too

[2020-05-26 16:37] #115 closed

[2020-05-26 16:38] zoontek commented on #115
`npm / yarn outdated` does that (including major versions)

[2020-05-26 16:42] giacomocerquone commented on #115
Yeah I knew that command, but most of the times it misses results in windows... should dig into it!

Thanks so much, are you on some site I can donate just once instead of a subscription? Something like buy me a coffee

[2020-05-26 16:44] zoontek commented on #115
@giacomocerquone Not really, but if you want to send a one time shot, I have a Paypal, this could do the trick: zoontek[at]gmail[dot]com 🙂

[2020-05-26 16:48] giacomocerquone commented on #115
Done, thank you again!

[2020-05-27 06:53] arun057 commented on #13
Any updates here?

[2020-05-28 20:54] afilp opened #118 "Feature request: Do not show splashscreen through a flag on particular variants/flavors"
Our app has many flavors (Android) and schemes (iOS).

Not all flavors should have a splash screen. How can we not show the splash screen on some of them?

For example, I manage to do this on the react-native side through this flag:
`buildConfigField 'boolean', 'HAS_SPLASHSCREEN', 'true'`

And then in JS:
[code]

But this only works in the JS side, splash screen images are still needed for the And

[2020-05-29 07:53] zoontek commented on #118
- Only set the BootTheme on wanted flavors (`android/app/src/FLAVOR/res/values/styles.xml`).
- Test in Java the value of `BuildConfig.FLAVOR`

Sorry, I'm closing this. This is not really an issue with the library, more a question about Android development in general.

[2020-05-29 07:53] #118 closed

[2020-05-30 09:50] kbrandwijk commented on #10
I'm also running into the exact same error. What's the solution?

[2020-06-02 15:11] Sunakujira1 opened #119 "[IOS] Stuck on Splash Screen with Code Push"
### 💻 My environment

- react-native-bootsplash version: 2.2.4
- react-native version: 0.61.5
- Platform: ios
- OS version: 13.5
- Device: N/A
- Simulator: Both
- Android Studio version: N/A
- Android buildToolsVersion: N/A
- Xcode version: N/A

### 🕵️‍♂️ Reproducing the issue

I do not have time to create full reproduction repo, but I was facing an issue with Code Push & RNBootsplash hence I'd li

[2020-06-03 07:42] zoontek commented on #119
The BootSplash is designed using a simple [UIViewController](https://developer.apple.com/documentation/uikit/uiviewcontroller?language=objc) which came above the `RCTRootView`. It's standard iOS behavior, there is no magic 😄

This solution have solved this issue, but it is not the ideal solution.

I don't see why? You resolved a race condition. This is not a workaround, but proper handling of this

[2020-06-03 07:50] #106 closed

[2020-06-03 19:42] Faisal-Manzer opened #120 "MacOS support"
### 💻 My environment

- react-native-bootsplash version: 2.2.4
- react-native version: 0.62.2
- Platform: MacOS
- OS version: MacOs Catalina 10.15.3
- Device: Apple MacbookAir
- Simulator: no
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue
[code]
Try starting MacOS project with https://microsoft.github.io/react-native-windows/docs/rnm-

[2020-06-05 12:49] zoontek commented on #120
I don't know a lot of desktop apps which use splash screens. I'm not sure I'll add windows / macOS support anytime soon, but I will accept pull requests 🙂

[2020-06-05 14:44] Faisal-Manzer commented on #120
The problem is actually not `macOS` support. Problem is that 100% production applications on Android or iOS will need a splash screen. If anyone wants to port their app to `macOS` the package will break that just like above. I haven't tried windows so I can't speak on that.

[2020-06-06 09:51] zoontek commented on #120
React Native CLI allows you to avoid linking on unsupported platforms:

[code]

[2020-06-06 16:57] rarira commented on #119
@Sunakujira1 I also had experienced exactly same behaviour after upgrading v2 on iOS. I managed to solve the issue by changing the timing of calling RNBootSplash.hide, I mean I have to call it little bit earlier than before.

[2020-06-09 07:42] zoontek commented on #119
@rarira That's exactly why I work on Promise support. It' too hard to handle async state with imperative functions and timer. Android support is already done, iOS nearly is.

[2020-06-14 12:58] David-moonsite opened #121 "RNBootSplash.hide() NOT Works"
<!--

👋 Hello!

### 💻 My environment

- react-native-bootsplash version:^2.2.4
- react-native version:0.60.5
- Platform: both
- OS version: macOS Catalina 10.15.5
- Device: both
- Simulator: both
- Android Studio version: 3.1
- Android buildToolsVersion: 28.0.3
- Xcode version: 11.4.1

### 🕵️‍♂️ Reproducing the issue

When I run in a physical device or on simulator ,there's a problem. The app laun

[2020-06-14 13:00] David-moonsite opened #122 "RNBootSplash.hide() stuck ISSUE"
👋 Hello!

### 💻 My environment

- react-native-bootsplash version:^2.2.4
- react-native version:0.60.5
- Platform: both
- OS version: macOS Catalina 10.15.5
- Device: both
- Simulator: both
- Android Studio version: 3.1
- Android buildToolsVersion: 28.0.3
- Xcode version: 11.4.1

### 🕵️‍♂️ Reproducing the issue

When I run in a physical device or on simulator ,there's a problem. The app launches a

[2020-06-14 13:00] #121 closed

[2020-06-15 07:50] zoontek commented on #122
Where did you call the `hide()` method? Please copy JS code her.

[2020-06-15 08:28] David-moonsite commented on #122
<img width="538" alt="Screen Shot 2020-06-15 at 11 27 17" src="https://user-images.githubusercontent.com/58983212/84635027-512ab880-aefb-11ea-99cd-67ef90e4b92b.png">

[2020-06-15 08:31] zoontek commented on #122
Check the exception in Xcode: The file Bootsplash.storyboard simply doesn't exist in your project.

[2020-06-15 08:31] #122 closed

[2020-06-15 08:32] zoontek commented on #122
Check the part where you have to drag and drop the file: https://github.com/zoontek/react-native-bootsplash/blob/master/README.md#ios-1 (with the 3 screenshots)

[2020-06-15 08:55] David-moonsite commented on #122
Thanks !

[2020-06-19 19:04] AugustoAleGon commented on #82
@zoontek you save my day man!

[2020-06-23 12:07] maitham opened #124 "Feature Request: Store whether the Splashscreen is hidden or not"
hey thanks for the awesome work with this library. I was wondering if there were plans to support storing the visible state within the RNBootSplash component? This way we can query whether the bootsplash is open or not. Currently doing this via usestate and react context. It would be handy if this was already part of the library. Any thoughts on this?

[2020-06-23 19:39] exneval opened #125 "Generated Splash Image Issue"
### 💻 My environment

- react-native-bootsplash version: 2.2.4
- react-native version: 0.62.2
- Platform: android
- OS version: Oreo 8.1

### 🕵️‍♂️ Reproducing the issue

App always choose generated splash image from mipmap-mdpi (100x100), even though the device screen has 395dpi
It should choose splash image from mipmap-hdpi or mipmap-xhdpi

### 🤞Solution

Currently the workaround is to set fixed

[2020-06-23 19:48] #125 closed

[2020-06-25 11:37] radeno opened #126 "Show View as overlay of Bootsplash"
Hi,

At first, thank you for great work that you are doing for this package!

I have a question about showing RN component on top of Bootsplash.
Is there any possibility of how to do that?

For example, sometimes it takes much time until the app is completely loaded (because actions on background/foreground), and this time should be multiplicated on older devices. And the good user experience is t

[2020-06-25 12:18] zoontek commented on #126
@radeno Hi.

Is the recommended solution. It's even the one used for the example (with the Animated React logo): https://github.com/zoontek/react-native-bootsplash/blob/master/example/App.js

The other one will not be implemented because it would make it too difficult to create identical splash screen across platforms.

[2020-06-25 12:18] #126 closed

[2020-06-25 12:22] radeno commented on #126
@zoontek thanks for your reply.
I thought that I must duplicate splashscreen functionality into RN side. Sadly there must be implemented 3 same things.
Anyway thanks!

[2020-06-25 12:47] zoontek commented on #126
That's not really an issue for me since the CLI takes care of Android and iOS for you. If your splash screen has a very complex layout, I encourage you to keep it simple, animate details in on load.

[2020-06-29 22:14] mikehardy opened #127 "Unexpected files included in npmjs distribution"
When you look at the files included in the distribution on npmjs it is clear some are development files and shouldn't be there

./android/idea
./android/**/*iml
./android/.gradle
yarn-error.log

I had a similar problem - because it's really confusing to get correct! https://github.com/react-native-community/react-native-device-info/pull/872

Once it is understood though, it's not hard to fix, for

[2020-06-30 08:48] zoontek commented on #127
An easy fix is indeed to move to a whitelist instead of npmignore: https://github.com/react-native-community/react-native-permissions/blob/master/package.json#L21

Totally interested!

[2020-06-30 08:49] zoontek commented on #124
It's planned, I need to find some time to polish the next version and release it 🙂

[2020-06-30 18:23] mikehardy commented on #127
PR posted, took me way less time to post that then you saved me in the .xib -> storyboard migration even though I had to de-integrate react-native-splash-screen first, sincere thanks @zoontek

[2020-07-01 01:32] mikehardy commented on #100
I've been using this in styles/values.xml and styles-v21/values.xml:

[code]

It gets rid of the white screen flashes but I'm having a hard time aligning my logo perfectly vertically between the two states of "bootsplash hasn't loaded yet" and "bootsplash has loaded", I get a little vertical movement between the two states at the moment. @zoontek did you receive any traction on that fix?

[2020-07-01 08:48] zoontek commented on #100
@mikehardy I have something working without any update on the React Native part (retrocompat, yeah). Need time to make this damn release.

[2020-07-04 21:40] ssilverr commented on #51
@zoontek Hi again! Sorry to bother you, but any news on v3.0.0 progress?

[2020-07-06 13:08] TheWirv opened #129 "Question about naming conventions"
### 💻 My environment

- react-native-bootsplash version: none
- react-native version: v0.63.0-rc.1
- Platform: both
- OS version: irrelevant
- Device: none
- Simulator: irrelevant
- Android Studio version: irrelevant
- Android buildToolsVersion: irrelevant
- Xcode version: 11.5

Hi, I was just curious. Do I understand it correctly that it is required to name the storyboard file `BootSplash.storybo

[2020-07-06 13:23] zoontek commented on #129
Hi. No, it's just the default name when you generate the file from the CLI.
If you want to name `LaunchScreenXXX.storyboard` and keep your config, it's totally OK.

The next version will probably switch to `LaunchScreen.storyboard` by default anyway, since RN 0.63 will ship with this file. It will avoid some Xcode configuration when you add this package to your project.

[2020-07-06 13:23] #129 closed

[2020-07-06 13:26] zoontek commented on #51
@ssilverr I waited a bit after some RN 0.63 decisions. As I know, the default splash screen will be named `LaunchScreen.storyboard` out of the box, which is cool since it will remove some Xcode config steps.

I need to rename generated files and write a migration guide before shipping a beta.

[2020-07-06 13:27] TheWirv commented on #129
Sounds awesome, thanks for the quick reply!

[2020-07-06 14:42] ssilverr commented on #51
@zoontek ahh gotcha, guess it'll be out some time after v0.63 then, thanks

[2020-07-06 18:12] maystrenkoYurii commented on #20
Hi, the best solution I've spent 3 days of my life on https://stackoverflow.com/questions/57461584/centered-image-on-windowbackground-is-different-than-on-an-inflated-layout
![Снимок экрана от 2020-07-06 21-08-53](https://user-images.githubusercontent.com/23016311/86625227-6ad89080-bfcd-11ea-98b1-20580632862b.png)

[2020-07-07 02:37] exneval commented on #100
HI @zoontek , can't wait for the huge release, because I'm experiencing the jumping status bar issue, thanks

[2020-07-07 07:29] zoontek commented on #100
@exneval The jumping bar issue has nothing to do with the release. It only will be simpler to avoid it (if it happens currently, it's mostly misconfiguration).

Check that you don't use `android:windowBackground` for setting the launch screen and that you don't change the status bar / full screen settings programmatically in your MainActivity (use styles.xml for this, or extends SplashScreenActivi

[2020-07-07 09:47] exneval commented on #100
@zoontek thanks for the clarification, about that, actually I didn't do any extra setup in the native, the thing is, in my RN App, I applied Status bar translucent and backgroundColor transparent, that's why the splashscreen not open smoothly when transition into the app state

[2020-07-08 06:54] kashmiry commented on #103
I use React Navigation too, and what I did is this, in my App Navigator file (NavigationContainer functional component) added this.
[code]
Now it will hide when the navigation have been mounted.

[2020-07-08 07:25] micheilsgrey commented on #103
Thanks, I will try this way, but for now, I was just delaying the screen for 1 sec, temporary hack.

[code]

[2020-07-08 11:05] maystrenkoYurii opened #130 "New feature android"
👋 Hello!

Add please new feature only initDrawable method  and  method show() set as public. My fix Xaiomi jumping image))
<img width="973" alt="Снимок экрана 2020-07-08 в 14 02 33" src="https://user-images.githubusercontent.com/23016311/86911418-f5330880-c123-11ea-8b0a-f5764fba22fc.png">

[2020-07-08 11:32] #127 closed

[2020-07-08 11:44] zoontek commented on #130
This does not work like this. Check https://github.com/zoontek/react-native-bootsplash/issues/52#issuecomment-580366701 for a fix.

[2020-07-08 11:44] #130 closed

[2020-07-08 12:34] maystrenkoYurii commented on #130
@zoontek work my solution. I not show image in preview. I have animate images after show
<img width="548" alt="Снимок экрана 2020-07-08 в 15 32 52" src="https://user-images.githubusercontent.com/23016311/86919096-5a8cf680-c130-11ea-8f9a-51ef18f3f2a2.png">
![animation](https://user-images.githubusercontent.com/23016311/86919182-814b2d00-c130-11ea-81ce-3a7e0645a22c.gif)

[2020-07-08 19:45] Vasault commented on #72
having the same issue, i can react-native run-android and see the result, but once i close the app, and manually open it from the device (or emulator, doesn't matter) immediately crashes

[2020-07-09 07:19] arnaudambro opened #131 "Android unique splash screen : how to make it fill screen?"
I have a unique splash screen, called splash.png and sized 1280x1280, 150dp

My question is simple : how can I make my splash screen, in portrait mode, be full height, not less, **_not more_**, and keep its aspect ratio so that the picture fills the screen.
Like a `background-size: cover` in css.
Or like an easy `<Image resizeMode="cover" style={{ height: '100%' }} />` in React Native.

So I have

[2020-07-09 08:16] zoontek commented on #131
@arnaudambro Hi. 👋 Sorry, but I don't see how is that an issue with the library, or a question about it? It's more a general question about Android development.

Check https://github.com/zoontek/react-native-bootsplash/issues/75 maybe. Also, don't use `android:windowBackground`, the documentation recommend `android:background`.
If it doesn't the trick, I recommend https://stackoverflow.com/ to ask

[2020-07-09 08:16] #131 closed

[2020-07-14 10:32] thobiasn commented on #13
Can you provide an updated example of how to configure `AppDelegate.m` while using `react-native-navigation`?

[2020-07-14 21:37] Sunakujira1 commented on #119
Thanks @zoontek , hope this helps others devs that encounter similar problem. To me, it was not obvious and took good couple of hours to figure out what was going on. Closing.

[2020-07-14 21:37] #119 closed

[2020-07-15 08:27] Miluaaa opened #132 "Invalid 'android:scaleType' in modified bootsplash.xml , Always fitCenter."
## 💻 My environment

- react-native-bootsplash version:"^2.2.4"
- react-native version:"0.62.2"
- Platform: android

[2020-07-15 08:41] #132 closed

[2020-07-15 08:42] zoontek commented on #132
No respect of the issue template, no code to reproduce, etc.

[2020-07-17 09:59] arnaudambro commented on #131
Hi @zoontek , I understand but I still ask my question here because I can't find any answer anywhere on the web... I tried so many combinations now, of android:gravity/bitmap/item/android:scaleType, and I am so desperate, just to fill a splash screen full screen ! It drives me crazy...
If you have an answer, I'm all hears !

[2020-07-19 11:45] linxu opened #135 "ios app crash"
According to the steps of the tutorial, ios app crashed, are there any steps missing?

Exception:
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Could not find a storyboard named 'BootSplash' in bundle NSBundle

[2020-07-19 11:49] linxu commented on #135
I’m not very familiar with the xcode tool. Do I need to configure any steps in xcode? Why xcode can’t find BootSplash.storyboad? I have executed the npx generate-bootsplash command.

[2020-07-19 12:10] linxu commented on #135
xode need add file to ProjectFolder, I miss this step.

[2020-07-19 12:10] #135 closed

[2020-07-19 14:33] MoOx commented on #10
If you get this issue with recent version of rn bootsplash, you probably forgot to replace .show by .init in your MainActivity java file :)

[2020-07-20 04:07] Miluaaa opened #136 "Invalid 'android:scaleType' in modified bootsplash.xml , Always fitCenter."
### 💻 My environment

- react-native-bootsplash version:^2.2.4
- react-native version:0.62.2
- Platform:android
- OS version: android 9
- Device: vivo Z1i
- Simulator: on
- Android Studio version: 3.6.3

### 🕵️‍♂️ Reproducing the issue

expected :
![WechatIMG7](https://user-images.githubusercontent.com/49137179/87898696-80e05980-ca81-11ea-8afd-09576aba5d82.jpeg)

result：
![WechatIMG8](https://user

[2020-07-20 04:11] Miluaaa commented on #136
res-drawable-bootsplash.xml

`<?xml version="1.0" encoding="utf-8"?>

<layer-list
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:opacity="opaque"

    <item android:drawable="@color/bootsplash_background" />

    <item>
        <bitmap
            android:src="@mipmap/bootsplash_logo"
            android:scaleType="centerCrop" />
    </item>
</layer-list>
`

[2020-07-20 04:12] Miluaaa commented on #136
res-drawable-bootsplash.xml

`<?xml version="1.0" encoding="utf-8"?>

<layer-list
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:opacity="opaque"

    <item android:drawable="@color/bootsplash_background" />

    <item>
        <bitmap
            android:src="@mipmap/bootsplash_logo"
            android:scaleType="centerCrop" />
    </item>
</layer-list>`

[2020-07-20 04:12] Miluaaa commented on #136
res-drawable-bootsplash.xml

`<layer-list
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:opacity="opaque"

    <item android:drawable="@color/bootsplash_background" />

    <item>
        <bitmap
            android:src="@mipmap/bootsplash_logo"
            android:scaleType="centerCrop" />
    </item>
</layer-list>`

[2020-07-20 12:50] zoontek commented on #136
I'm pretty sure Android drawables do not support `centerCrop` for background image, only ImageView

[2020-07-20 21:52] jedashford commented on #131
@arnaudambro you can change the android:gravity to 'fill' like this:
`<?xml version="1.0" encoding="utf-8"?>

<layer-list xmlns:android="http://schemas.android.com/apk/res/android" android:opacity="opaque">
    <item android:drawable="@color/bootsplash_background" />

    <item>
        <bitmap android:src="@drawable/launch_screen" android:gravity="fill" />
    </item>
</layer-list>`

[2020-07-21 04:09] #136 closed

[2020-07-21 05:55] arnaudambro commented on #131
This doesn't keep the aspect ratio of the picture
I also asked on [stackoverflow](https://stackoverflow.com/questions/62809424/android-unique-splash-screen-how-to-make-it-fill-screen/63004550#63004550) but no good answer. I guess it's not feasible on Android !

[2020-07-21 08:04] zoontek commented on #131
@arnaudambro I tried to recreate it yesterday too. Indeed, android seems not supporting `centerCrop` on background images (which is the way to go for splash screen creation, according to Google itself).

This might explain why some apps splash screen is different between iOS and Android (Slack…)

[2020-07-21 08:14] arnaudambro commented on #131
I almost succeeded by setting the params the following way:
[code]
vertically it's OK, but horizontally the image is still a little bit stretched.
I give up, it seems not feasible...

[2020-07-21 08:27] zoontek commented on #131
@arnaudambro I think

[code]

+ using the right background color and providing images larger than screen pixel density (https://developer.android.com/training/multiscreen/screendensities) would work. But it will not allow covering the whole screen.

An alternative could be split the bitmap in multiple ones: https://developer.android.com/studio/write/draw9patch

A bit complex for just a splash scre

[2020-07-24 04:12] MutatedBread commented on #100
Just encountered the same thing and found this issue. Good to hear there is a fix coming! Can't wait for the release!

[2020-07-26 10:45] whenmoon commented on #100
Looking forward to this update.. Great package

[2020-07-28 00:16] sanjaypojo commented on #100
Experienced a white flash issue when implementing code push. The app reboots after code push and there's a flash of plain white after the new JS is installed! Hoping the fix will also sort out this issue :)

PS: Awesome library!

[2020-07-28 12:09] zoontek commented on #100
Sorry for the delay, it's nearly ready but I'm currently on holidays. Should be released the second week of august 🙂

[2020-07-28 20:13] patrick-domegan-rbc opened #137 "Getting a security warning regarding jpeg-js which is a dependency of react-native-bootsplash"
Thank you for react-native-bootsplash!  Just a post about a github security alert we are passing along.

Getting a security warning regarding jpeg-js which is a dependency of react-native-bootsplash

CVE-2020-8175
moderate severity
Vulnerable versions: < 0.4.0
Patched version: 0.4.0

Uncontrolled resource consumption in jpeg-js before 0.4.0 may allow attacker to launch denial of service attacks us

[2020-07-29 21:01] mafortier-nexapp opened #138 "Side effects of PermissionsAndroid.request evaluating to 'never_ask_again' hiding the splash screen."
### 💻 My environment

- react-native-bootsplash version: 2.2.5
- react-native version: 0.61.5
- Platform: Android
- OS version: 10
- Device: any (it happens on my real Pixel 3a)
- Simulator: any (it happens on a Pixel 3a simulator as well)

### 🕵️‍♂️ Reproducing the issue

During my application initialization, I'm displaying the boot splash screen while performing some checks. One of these check i

[2020-07-30 07:22] zoontek commented on #138
Hi. I understand checking the permissions when the splash screen is visible, but why using `request()` for that?

[2020-07-30 07:23] zoontek commented on #137
@patrick-domegan-rbc Hi. Could you create the PR?

[2020-07-30 13:19] WhippetsAintDogs commented on #138
Hi, `check()` only returns a boolean whether the permission has been allowed or not. If its `false`, you cannot distinguish if you can (and have to) ask again or not. Moreover, `request()` won't do anything if it was previously set to `never_ask_again`. Does that make sense ?

[2020-07-30 13:22] zoontek commented on #138
@WhippetsAintDogs Yes, totally. I forgot `PermissionsAndroid` was a thing since I'm also a maintainer on `react-native-permissions` 😅. The `check` method on this lib return a proper status: https://github.com/react-native-community/react-native-permissions#check

[2020-07-30 14:44] mafortier-nexapp commented on #138
I'll try to get around the issue with your library (`react-native-permissions`) tomorrow. I'll let you know if it solves the issue.

Thanks @zoontek !

[2020-08-04 16:34] drb1 commented on #103
"react-native-bootsplash": "2.2.5",

still white screen appears when initially loading app

[2020-08-07 12:48] draggie opened #139 "Use of undeclared identifier 'RNBootSplash' - Fastlane"
Update: Apparently i can build for iOS debug but the release with target "Generic iOS Device" is the moment it happens.
### 💻 My environment

- react-native-bootsplash version: 2.2.5
- react-native version: 0.63.2
- Platform: ios
- OS version: 10.15.5
- Device: MacBook Pro (Retina, 13-inch, Late 2012)
- Simulator: n/a
- Xcode version: 11.5

### 🕵️‍♂️ Reproducing the issue

Properly configured libr

[2020-08-07 19:06] zoontek commented on #139
You set the import between ˋ#ifdef FB_SONARKIT_ENABLED` and ˋ#endif`

Which means RNBootsplash.h is not imported on production builds.

[2020-08-07 19:06] #139 closed

[2020-08-07 19:38] giacomocerquone commented on #131
i'm banging my head around the wall trying to figure out how to configure an imageview to keep the aspect ratio of an image and fill the display at the same time but it seems that examples of xml files (like the on in react-native-splash-screen) doesn't seem to work°

[2020-08-07 19:39] giacomocerquone commented on #112
ok here the reason why imageview won't work, right?

[2020-08-11 10:45] ghasemikasra39 opened #140 "Conflict with react native firebase getInitialNotification method"
### 💻 My environment

[code]

### 🕵️‍♂️ Reproducing the issue

I am using react native firebase `getInitialNotification` method to handle push notification when the app is killed (totally closed and is not in background). I want to navigate the user to a desired screen when the user taps on the push notification.

**Current behavior:** The push notification is always received but the navigation is

[2020-08-11 11:19] chahinaghrim commented on #140
I am about to implement firebase as well but I am using normal react-native-splashscreen. Can you tell me why this might have something to do with the splash screen?

[2020-08-11 11:36] zoontek commented on #140
I use both libraries too without any issues. I noticed your init code is wrong. It does respect async operations. A proper way to do it would be:

[code]

[2020-08-11 11:37] #138 closed

[2020-08-11 11:42] zoontek commented on #140
Did you implemented this: https://github.com/zoontek/react-native-bootsplash#handle-deep-linking-on-android ?

[2020-08-11 11:44] ghasemikasra39 commented on #140
Dear @zoontek
Thank you for your response. I will test it now. However, I am not sure if this solves this issue. you're pointing out another thing which is totally correct. My current code does not respect the async operation. But my real issue is that sometimes the navigation does not occur. (At this time, it's not important if the splash screen hide first or not).

[2020-08-11 11:47] ghasemikasra39 commented on #140
I did not implement this, since I am facing this issue on `Ios`. Sorry I should update my question to point out that I am getting this issue on ios.

[2020-08-11 11:54] zoontek commented on #140
I get that, but if the navigation doesn't occur, how does it have to do with this library 🤔

[2020-08-11 12:14] ghasemikasra39 commented on #140
Good question. If your package has conflict with firebase listeners (`onNotificationOpenedApp `), the handler (`this.handleSelected`) will not get called, and the navigation will not occur.

Why I came to the conclusion that your package has conflict with `onNotificationOpenedApp` listener?
Because when the app is in the background, everything works perfectly and it's using the same handler (`this

[2020-08-11 12:16] zoontek commented on #140
@ghasemikasra39 It might be misconfiguration in your AppDelegate.xml. Can you publish it? 🙂

[2020-08-11 12:20] ghasemikasra39 commented on #140
Yes sure. I think you mean `AppDelegate.m` and not `AppDelegate.xml`.

[code]

[2020-08-11 12:26] zoontek commented on #140
Yes, sorry, I'm currently working on Android 😅.
It seems you use **both** `@react-native-community/push-notification-ios` and Firebase push notifications. This might be the source of the conflict.

You also init twice Firebase:

[code]

Not sure if any of this have an incidence, but it will make more sense than a conflict with the splash screen 🙂

[2020-08-11 12:32] ghasemikasra39 commented on #140
Awesome. I will investigate these two points you mentioned. Please don't close this issue.

[2020-08-12 13:10] maystrenkoYurii commented on #52
Hi i fixed this issue.
1) Set in app theme and splash theme
`<item name="android:windowTranslucentStatus">true</item>`
2) Fix adjustResize
`public class FrameAssistant {
  public static void assistActivity (Activity activity) {
    new FrameAssistant(activity);
  }

  private View childContent;
  private FrameLayout.LayoutParams frameLayoutParams;
  private int frameHeightPrevious;

  private Fram

[2020-08-13 16:54] zoontek commented on #124
@maitham This is available on the 3.0.0 alpha! Please give it a try: https://github.com/zoontek/react-native-bootsplash/tree/3.0.0

[2020-08-13 16:55] zoontek commented on #8
@MoOx The new version (3.0.0) no longer require a `SplashScreenActivity.java`! Please give it a try: https://github.com/zoontek/react-native-bootsplash/tree/3.0.0 🙂

[2020-08-13 16:57] zoontek commented on #51
@ssilverr The new version (3.0.0) relying on the react-native CLI, is available in alpha. Please give it a try: https://github.com/zoontek/react-native-bootsplash/tree/3.0.0 🙂

[2020-08-13 16:57] zoontek commented on #137
Done on 3.0.0 branch: https://github.com/zoontek/react-native-bootsplash/tree/3.0.0

[2020-08-13 16:57] #137 closed

[2020-08-13 17:18] zoontek commented on #100
Please give a try to the next version: https://github.com/zoontek/react-native-bootsplash/tree/3.0.0
Sorry, I didn't write a migration guide yet, but the Android setup is way easier than before 🙂 !

[2020-08-13 17:33] mikehardy commented on #100
Awesome! For practical purposes it's on npmjs.org as 3.0.0-alpha0 and I assume you could use it directly as a dependency like `"react-native-bootsplash": "zoontek:react-native-bootsplash#3.0.0"`

I'll give it a shot :-)

[2020-08-13 17:34] zoontek commented on #100
You can install it using the `next` tag too :)

[2020-08-14 08:55] zoontek commented on #100
For your information: https://twitter.com/zoontek/status/1293956446497972229?s=21

I'll write a migration guide soon 🙂

[2020-08-14 20:06] yum650350 commented on #52
in my case it is fixed by this

MainActivity.java
[code]

styles.xml

[code]

But here is another issue, although status bar color has been set to transparent, the status bar still has a semi transparent color at the beginning of the application.

![ezgif-7-35c386322f02](https://user-images.githubusercontent.com/48589760/90288367-50d37d00-deac-11ea-9932-5074d3385c98.gif)

Do anyone have an idea to

[2020-08-19 08:00] Magudeshwaran opened #143 ""jump" during transition in Redmi Note 4"
### 💻 My environment

- react-native-bootsplash version:
- react-native version:
- Platform: android
- OS version: MIUI 11.0.2
- Device: MI /  Redmi Note 4
- Simulator: no
- Android Studio version: 4.0
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue
There is a  vertical "jump" during transitionas like the android gravity params did not match perfectly.

### 🤞Solu

[2020-08-19 08:24] zoontek commented on #143
@Magudeshwaran Please submit some code (styles.xml), bootsplash.xml)

[2020-08-19 08:33] Magudeshwaran commented on #143
bootsplash.xml
`<?xml version="1.0" encoding="utf-8"?>

<layer-list xmlns:android="http://schemas.android.com/apk/res/android"
    android:opacity="opaque">
    <item android:drawable="@color/bootsplash_background" />

    <item>
        <bitmap
            android:gravity="center"
            android:src="@mipmap/bootsplash_logo" />
    </item>
</layer-list>
`
styles.xml

`<?xml version="1.0" enc

[2020-08-19 08:37] Magudeshwaran commented on #143
[styles.txt](https://github.com/zoontek/react-native-bootsplash/files/5095063/styles.txt)

[bootsplash.txt](https://github.com/zoontek/react-native-bootsplash/files/5095059/bootsplash.txt)
`

[2020-08-19 08:52] zoontek commented on #143
@Magudeshwaran MIUI is known to be terrible. Check this workaround: https://github.com/crazycodeboy/react-native-splash-screen/issues/241#issuecomment-662802070

[2020-08-19 09:01] ssilverr commented on #51
@zoontek Sweet! Tried it out in a fresh rn project. It's super fast! Works very well as package.json script. Thank you for your work.

<details>
  <summary> </summary>

I finally won't have to patch-package my shitty solution each release 😄  Now to find the time to upgrade the ongoing project to rn 63 😢
</details>

[2020-08-19 10:04] Magudeshwaran commented on #143
Can you help me with react-native-bootsplash npm ? It does not getting themeResourceId as a parameter as in react-native-splash-screen. Reply with code will be very helpful.  Thanks( i'm new to react-native)

[2020-08-19 10:51] Magudeshwaran commented on #113
Can you explain bro ?

[2020-08-19 15:26] r0b0t3d commented on #112
Poor me that my application can't use layer-list to build a splash screen. But I really love this library and want to use it. So I did some modification to allow this library accept a custom xml with this [patch](https://gist.github.com/r0b0t3d/1877de009cc2741900e67ded0b26d927)
So instead of calling
[code]
You can call
[code]
And remember to keep `MainActivity` as the entry point
[code]

[2020-08-19 17:09] r0b0t3d commented on #143
You are setting translucent status for MainActivity, so you should set it to BootTheme too.

Try this
[code]

[2020-08-20 03:55] Magudeshwaran commented on #143
I almost solved my issue, with these code. Correct me if possible and suggest me a better solution if you have. Thanks
 ( IT WORKS GOOD ON REDMI NOTE 4 )
styles.xml
`<resources>

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:textColor">#000000</item>
        <item name="android:windowLightStatusBar">false</item>
        <item name="android:wind

[2020-08-20 05:33] Magudeshwaran commented on #52
Hi ,did it worked for you ?

[2020-08-20 06:48] #143 closed

[2020-08-20 06:50] #51 closed

[2020-08-20 06:52] zoontek commented on #112
@r0b0t3d I'm pretty sure a change like this will result in this regression: https://github.com/zoontek/react-native-bootsplash/pull/57#issuecomment-581170465

[2020-08-20 07:04] #124 closed

[2020-08-20 07:04] #8 closed

[2020-08-20 07:23] r0b0t3d commented on #112
Sure, it will has a blank screen at start if using xml layout. It is a trade-off for anyone that can't use drawable like me. Again, this is just an option

[2020-08-20 12:14] Magudeshwaran commented on #20
Can you share your styles.xml

[2020-08-22 07:46] mpawar95 opened #144 "bootsplash is not working perfect."

[2020-08-22 07:48] mpawar95 opened #145 "bootsplash is not working perfect."
the launch screen is loading after that in the middle got java.lang.UnsupportedOperationException: This method is not supported for ReactViewGroup instances error  com facebook react views view reactviewgroup please look and reply and help me to solve this issue. Please please please help because in only 1 item left in my project.

[2020-08-23 10:00] #145 closed, assigned to nobody

[2020-08-23 10:00] #144 closed, assigned to nobody

[2020-08-24 07:13] SergiOnGit opened #146 "splash image moves a little from top to bottom"
### 💻 My environment

- react-native-bootsplash version: @next
- react-native version: latest
- Platform: android
- OS version: android 10
- Device: brand xiaomi mi 10 lite
- Simulator: no
- Android Studio version: latest
- Android buildToolsVersion: 29
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

When i open an app splash image shows then it moves down maybe 10px. Or maybe it isn't moving

[2020-08-24 10:42] tamangsuresh commented on #100
I'm using 2.2.5. I try to install v3 but there is no any guide. It would great if you add guide.

[2020-08-24 12:49] zoontek commented on #146
@SergiOnGit Please publish all your config files.

[2020-08-24 16:43] SergiOnGit commented on #146
@zoontek Which config files do you mean? I am using latest 3.0.0 version and it doesn't have many configs, i just followed installation guide and then run splash generation command.

[2020-08-25 08:15] zoontek commented on #146
It was just in case you applied more than what's in the README.

That's probably linked to MIUI and custom interfaces. I personally only have a Xiaomi 12 (with Android One: stock interface) and a Nexus 5, so I can't reproduce it.
I might have an idea, would be glad if you can try the fix.

[2020-08-25 10:28] SergiOnGit commented on #146
@zoontek Tell me your idea and i'll try. I like this plugin and want to fix it, but i don't have native coding knowledge.

[2020-08-25 15:05] zoontek commented on #146
@SergiOnGit I will replace Linear with RelativeLayout on a branch so you can test.

[2020-08-25 15:50] zoontek commented on #146
@SergiOnGit I just published version `3.0.0-alpha.2`. Could you try it and see if it fixes your issue?

[2020-08-25 16:41] SergiOnGit commented on #146
@zoontek  Thanks for trying. I have tested it but still the same.

[2020-08-25 17:11] zoontek commented on #146
@SergiOnGit I will need a device with MIUI to debug this.

[2020-08-25 17:38] efstathiosntonas commented on #146
This is definitely a MIUI issue, same happens on Xiaomi Note 8.

[2020-08-25 20:23] Sephaq opened #148 "Android status bar jumpy behaviour"
### 💻 My environment

- react-native-bootsplash version: 2.2.5
- react-native version: 0.63
- Platform: android
- OS version: 9
- Device: Samsung - SM-G950W
- Simulator: yes
- Android Studio version: 4.0.1
- Android buildToolsVersion: 29.0.3
- Xcode version: 

### 🕵️‍♂️ Reproducing the issue

Installed the module, followed the readme configuration, and run a test of the app
**Expected:** Splash to

[2020-08-26 07:56] zoontek commented on #148
@Sephaq It seems you hide the status bar when the app starts so it's totally normal? Just hide the status bar in the BootTheme too.

[2020-08-26 10:03] SergiOnGit commented on #146
@zoontek Does the same happen on stable 2 version? Is it worth to try?

[2020-08-26 10:04] efstathiosntonas commented on #146
@SergiOnGit the same happens on v2

[2020-08-26 10:06] zoontek commented on #146
Try this: https://github.com/zoontek/react-native-bootsplash/issues/52#issuecomment-580366701

[2020-08-26 12:21] SergiOnGit commented on #146
@zoontek I played around your pointed answer and could make it work. See my styles.xml snippet

[code]

Only those two lines are needed:

        <item name="android:windowDrawsSystemBarBackgrounds">true</item>
        <item name="android:windowTranslucentStatus">true</item>

You can add it to readme.

Thanks for fast responses.

[2020-08-26 12:21] #146 closed

[2020-08-26 12:22] zoontek commented on #146
Cool! I will add some informations about MIUI on the README as soon as possible.

[2020-08-26 18:25] Sephaq commented on #148
@zoontek
I've applied this theme (Theme.ReactNative.AppCompat.Light.NoActionBar.FullScreen) to a degree of success, but still I don't want to HIDE the status bar, as you can see in the gif the status bar is not hidden, it is just that the activity uses the fullscreen of the app and the status bar is now translucent.

[2020-08-26 18:28] zoontek commented on #148
@Sephaq Yes, I don't mean "hide the status" bit make it transparent.

[2020-08-26 19:02] Sephaq commented on #148
@zoontek So I've noticed that any changes I make in the BootTheme style, do not affect the splash, only when I make changes in the AppTheme, or if I completely change the parent of the BootTheme.
With that in mind I almost achieve what I wanted but the color of the status bar is still too dark, but I can work it from here.
Thanks

[2020-08-26 19:03] #148 closed

[2020-08-26 19:43] mafortier-nexapp commented on #138
@zoontek sorry for the delays, but you were right. `react-native-permissions` over PermissionAndroid (`react-native`) indeed fixed the issue.

Thanks !

[2020-08-27 05:19] joshxyzhimself commented on #100
Psyched for this! Cant wait 💯

[2020-08-27 08:04] rahulje9 commented on #77
I'm having the same issue,
I used size 225, android is fine, but in ios at first the small icon is displayed then the larger one will be displayed. created everything with the cli

[2020-08-27 19:16] cwhenderson20 opened #149 "Showing a native iOS alert before bootsplash hides prevents future "hide"s from working"
### 💻 My environment

- react-native-bootsplash version: 2.2.4
- react-native version: 0.61.5
- Platform: iOS
- OS version: 13.x
- Device: iPhone (any)
- Simulator: yes + actual device
- Xcode version: 11.6

### 🕵️‍♂️ Reproducing the issue

First, thank you so much for this library! It's really been great to use.

I've just run into an issue where showing a native iOS alert (react-native's `Alert.

[2020-08-29 13:33] zoontek commented on #149
@cwhenderson20 Could you try the @next version to see if the issue is still present?

[2020-08-29 14:04] zoontek commented on #100
The migration guide is available here: https://github.com/zoontek/react-native-bootsplash/blob/3.0.0/MIGRATION.md

[2020-08-31 16:39] cwhenderson20 commented on #149
@zoontek I will give it a try this week and let you know.

[2020-09-01 23:35] sanjaypojo opened #150 "Android: splash screen background flashes when keyboard is opened / closed"
@zoontek thanks a ton for the library, it's great. Excited to use the new release but found this issue!

### 💻 My environment

- react-native-bootsplash version: 3.0.0-alpha.2
- react-native version: 0.61.5
- Platform: android
- OS version: Android 9
- Device: Samsung S8
- Simulator: no

### 🕵️‍♂️ Reproducing the issue

- Install new version using the migration guide. Our splash screen has a purpl

[2020-09-01 23:39] sanjaypojo commented on #100
@zoontek could you outline the changes needed to Bootsplash.storyboard on the iOS side? I run into this error if I perform `generate-bootsplash` and without changes, the bootsplash screen is not hiding on iOS. Works fine on android.

[code]

[2020-09-02 08:41] zoontek commented on #150
@sanjaypojo Could you post your AndroidManifest.xml?

[2020-09-02 21:41] sanjaypojo commented on #150
@zoontek sure, here are the relevant parts of `AndroidManifest.xml`:

[code]

Here's `styles.xml`:

[code]

And here's the drawable (`bootsplash.xml`):

[code]

[2020-09-03 18:37] danielnmai commented on #100
When on Android, I have the same error @sanjaypojo mentioned when trying to re-generate the files as recommended by the migration guide

`npx react-native generate-bootsplash
error: missing required argument `logoPath'`

But, keeping the same files does not break anything. Migration went very smoothly, just follow the exact steps, you should be fine. Thank you @zoontek for an awesome package.

[2020-09-04 07:31] chaiyaphat12079 opened #151 "I want to change Background ?"
I want to change Image Background .

[2020-09-04 09:03] #151 closed

[2020-09-04 11:32] ghasemikasra39 opened #152 "Testing with Jest & Enzyme: TypeError: Cannot read property 'hide' of undefined"
### 💻 My environment

- react-native-bootsplash version: 2.2.5
- react-native version: 0.62.2
- Platform: Testing environment
- OS version: Testing environment
- Device: Testing environment
- Simulator: no
- Android Studio version: 3.6 AI-192.7142.36.36.6392135
- Android buildToolsVersion: 28.0.3, 29.0.2
- Xcode version: 11.3.1/11C504

[code]

### 🕵️‍♂️ Reproducing the issue

The package works per

[2020-09-04 13:18] zoontek commented on #152
@ghasemikasra39 did you tried creating `__mocks__/react-native-bootsplash.js` instead?

[2020-09-04 15:29] ghasemikasra39 commented on #152
Dear @zoontek
Thank you for your response.
Yes, I tested `__mocks__/react-native-bootsplash.js` and got the same error.

[2020-09-04 15:56] zoontek commented on #152
@ghasemikasra39 I didn't read your mock implementation. Using `jest.mock` is useful only in Jest setup files.
Try this instead:

[code]

[2020-09-07 11:59] ghasemikasra39 commented on #152
Dear @zoontek
I tested this method and worked perfectly. However, I still don't understand why using `jest.mock` is not working for this package. Because I am mocking many other packages using `jest.mock` and they work perfectly.

[2020-09-07 12:02] zoontek commented on #152
I invite you to read Jest documentation about where using jest.mock

[2020-09-07 12:02] #152 closed

[2020-09-07 13:39] fgeorgsson opened #153 "Fullscreen image with maintained aspect ratio not possible in version 3+ on Android"
### 💻 My environment

- react-native-bootsplash version: 3.0.0-alpha.2
- react-native version:0.63.2
- Platform: android
- OS version: 9
- Device: LG G6
- Simulator: either
- Android Studio version: 4.0.1
- Android buildToolsVersion: any

### 🕵️‍♂️ Reproducing the issue

I want a fullscreen image with maintained aspect ratio that is minimally scaled to cover the screen.

There seems to be no way t

[2020-09-08 11:15] zoontek commented on #153
@fgeorgsson Please share your splash screen config (bootsplash.xml)

[2020-09-08 11:39] zoontek commented on #150
I tried giving it a try, couldn't reproduce it. The only issue was `<item name="android:android:fitsSystemWindows">true</item>` (`android:android:` prefix does not exists).

Are you sure `RNBootSplash.init(this, R.style.AppTheme);` came before `super.onCreate(savedInstanceState);`?
See https://github.com/zoontek/react-native-bootsplash/blob/3.0.0/MIGRATION.md

[2020-09-08 15:09] #153 closed

[2020-09-08 15:10] zoontek commented on #153
Yeah, it's laughable. Don't overthinking it too much, Slack, Airbnb etc just display a centered logo on Android 🙂

[2020-09-08 23:46] sanjaypojo commented on #150
@zoontek I've added it before as described in the guide:

[code]

Do you think it's related to the custom drawable styling in `bootsplash.xml`? I can't really think of anything else that might cause it. The branch only contains this one bootsplash update and nothing else, so it definitely seems to be caused by this change :)

[2020-09-09 14:57] David-moonsite opened #154 "Splash screen jumping up on android"
### 💻 My environment

- react-native-bootsplash version:2.2.4
- react-native version: 0.60.5
- Platform: android

- OS version: ?
- Device: all android device
- Simulator: yes
- Android Studio version: ?
- Android buildToolsVersion: ?
- Xcode version: ?

### 🕵️‍♂️ Reproducing the issue

When following the instructions, I get a good working result on iOS.
On android, there is a small jump up (appro

[2020-09-09 15:26] zoontek commented on #154
@David-moonsite Do you use custom Java code to hide the status bar or else?

[2020-09-09 15:42] zoontek commented on #150
@sanjaypojo Currently, the `init` method set the `AppTheme` back to `@null` when a custom `Dialog` is created.

- https://github.com/zoontek/react-native-bootsplash/blob/3.0.0/android/src/main/java/com/zoontek/rnbootsplash/RNBootSplashModule.java#L52
- https://github.com/zoontek/react-native-bootsplash/blob/3.0.0/android/src/main/res/values/styles.xml#L2

It might be an issue with Samsung horrible

[2020-09-09 18:03] David-moonsite commented on #154
@zoontek  no

[2020-09-09 21:57] sanjaypojo commented on #150
Thanks @zoontek -- I'll try and look into the source code to see if I can identify what's happening.

I haven't read the source, but here's what I was thinking: Since I'm directly setting the background inside AppTheme in `styles.xml`, would this mean that `bootsplash.xml` is always set as the background? Should I make some changes in `styles.xml` so that `bootsplash.xml` is only set as the backgr

[2020-09-09 22:16] zoontek commented on #154
windowBackground -> background

[2020-09-10 05:28] David-moonsite commented on #154
styles.xml
[code]
same issue :(

[2020-09-10 06:17] zoontek commented on #154
Replace android:gravity="fill" with android:gravity="center"

[2020-09-10 06:50] David-moonsite opened #155 "splashScreen done callback"
Is there any callback to detect when splashScreen done ?

[2020-09-10 06:54] David-moonsite commented on #154
find the problem 👍
[code]

[2020-09-10 06:58] #154 closed

[2020-09-10 06:59] zoontek commented on #154
Ah indeed! Or set your status bar as transparent at start in your styles.xml, it will solves it too.

[2020-09-10 08:09] zoontek commented on #155
@David-moonsite v3 has a new Promise API and a getVisibilityStatus method https://github.com/zoontek/react-native-bootsplash/tree/3.0.0

[2020-09-10 08:09] #155 closed

[2020-09-10 08:16] zoontek commented on #150
@sanjaypojo How it works:

- The splash screen is set as your `AppTheme` background
- When you call `init`, a `Dialog` is shown over your `Activity` using the exact same `AppTheme`
- Once shown, the `Activity` background is cleared using `BootSplashNullBackgroundTheme`, which set background to `@null` <- that's where the issue happen
- You hide the `Dialog` when you want via JS

I don't have a Sam

[2020-09-10 18:59] sanjaypojo commented on #150
Thanks a ton for the explanation @zoontek, that makes sense!

So many issues with android development caused by these random manufacturer decisions 😓

That sounds amazing, I'm happy to try them out and report back to you!

[2020-09-11 08:27] PriorM opened #156 "When starting app, the splash screen is showing as a white screen"
### 💻 My environment

- react-native-bootsplash version: react-native-bootsplash@3.0.0-alpha.2
- react-native version: react-native@0.62.2
- Platform: android
- OS version: 10
- Device: Google Pixel 2
- Simulator: yes
- Android Studio version: 4
- Android buildToolsVersion: 30.02
- Xcode version: n/a

### 🕵️‍♂️ Reproducing the issue

I followed the setup steps in the readme and the migration steps

[2020-09-11 08:33] zoontek commented on #156
@PriorM Submit all your modified files (styles.xml, bootsplash.xml, MainActivity.java) + a video if possible.

[2020-09-11 08:36] zoontek commented on #100
@danielnmai The correct syntax is `npx react-native generate-bootsplash file.png` (and file should exists)

[2020-09-12 06:15] PriorM commented on #156
Hi, here are the files that you requested. Thank you for your quick reply

[Requested Files.zip](https://github.com/zoontek/react-native-bootsplash/files/5212274/Requested.Files.zip)

[2020-09-12 08:52] zoontek commented on #156
<img width="684" alt="Screenshot 2020-09-12 at 10 51 05" src="https://user-images.githubusercontent.com/1902323/92991681-eed75900-f4e5-11ea-8323-15389c3deba8.png">

You didn't install the package correctly. If you did, clean your project. https://github.com/pmadruga/react-native-clean-project

[2020-09-12 11:41] #156 closed

[2020-09-13 15:19] irekrog opened #157 "Set AppCompatDelegate.setDefaultNightMode doesn't work properly"
### 💻 My environment

- react-native-bootsplash version: 3.0.0-alpha.2
- react-native version:0.62.2
- Platform: android
- OS version: 10
- Device: Huawei P30 Pro
- Simulator: no (but on Pixel with Android 11 simulator is same)
- Android Studio version: Android Studio 4.1 RC 2

### 🕵️‍♂️ Reproducing the issue
System theme is Dark, but I want to change to Light theme for app so then I set    `AppCo

[2020-09-15 23:25] carakuei commented on #100
Hi all, I'm curious with anyone that has tried out 3.0.0-alpha.2 with your RN 63 app and has Detox set up for e2e testing. Does the app still run in detox for you? Thanks!

[2020-09-16 07:46] zoontek commented on #100
@carakuei I will probably switch back to a custom `SplashActivity` (but keep the promisified API) on Android since the new way, even if it's easier to plug in, introduces a lot of new issues. iOS part does not seems to have issues.

[2020-09-16 18:47] carakuei commented on #100
@zoontek Sounds good! Thanks for the quick response!

[2020-09-17 07:32] PriorM commented on #156
@zoontek I've cleaned the project as you suggested and reinstalled the package using npm install --save react-native-bootsplash but it has not solved this issue

[2020-09-22 11:30] EhsanSarshar opened #158 "How to set a Layout as Splash screen"
There are too much limitation with Drawable. I have my own layout with RelativeLayout how to use that as Splash screen.
can Any one shows a sample

[2020-09-23 02:52] Youn-ha commented on #158
https://github.com/zoontek/react-native-bootsplash/issues/112#issuecomment-678234696

You cannot use your own RelativeLayout. Check this out.

[2020-09-23 07:40] EhsanSarshar commented on #112
@zoontek react-native-splash-screen have a solution for it. so I should use this library for ios and use that for android

[2020-09-23 07:43] zoontek commented on #112
@EhsanSarshar Splash screen can't have their own layout. See the regressions it creates: https://github.com/zoontek/react-native-bootsplash/pull/57 (same on react-native-splash-screen)

[2020-09-23 07:47] #158 closed

[2020-09-23 08:33] EhsanSarshar commented on #112
@zoontek what's wrong for having a seperate screen for splash.
ok no need to use react-native-splash the solution of @r0b0t3d worked for me. and it also don't have any white screen at startup

[2020-09-23 08:39] zoontek commented on #112
@EhsanSarshar Cool, use that then 🙂

[2020-09-23 10:59] EhsanSarshar commented on #158
@Youn-ha yes I can
check [this](https://github.com/zoontek/react-native-bootsplash/issues/112#issuecomment-676495403) out

[2020-09-24 14:15] pipoblak commented on #140
I'm experiencing a similar issue, using rnfirebase and react-native-bootsplash on ANDROID (IOS works great)
On my SplashScreen i have this
`  componentDidMount() {
    messaging()
    .getInitialNotification()
    .then(this.handleSelected)
    .finally(() => {
      RNBootSplash.hide({ duration: 250 });
      this.codePushVerification();
    });
  }
`

My main Activity:

`public class MainActivit

[2020-09-24 14:17] pipoblak commented on #140
The fun about that is deep linking works normal, the issue is only with on open notifications

[2020-09-25 10:41] slavikdenis commented on #152
My solution:

[code]

Placed into my jest setup file.

[2020-09-26 16:51] zoontek commented on #157
@irekrog Did it worked in version `2.2.5`?

[2020-09-26 17:21] irekrog commented on #157
@zoontek I didn't try in any `2.x.x` version. Only in `3.0.0-alpha.2`

[2020-09-27 15:24] SergiOnGit opened #159 "generate-bootsplash not found in mac"
# Bug report

## Summary

Hi, i'm trying to install this package in mac but when i run npx generate-bootsplash it says package is not found. Same when i run it with yarn.

Error log:
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/generate-bootsplash - Not found
npm ERR! 404
npm ERR! 404  'generate-bootsplash@latest' is not in the npm registry.
npm ERR! 404 You should bu

[2020-09-27 23:36] jhoanborges commented on #159
+1

[2020-09-28 07:57] zoontek commented on #159
@SergiOnGit @jhoanborges Did you installed it first (`npm install react-native-bootsplash && npx generate-bootsplash`)? By default, `npx` will search in your local executables.

[2020-09-28 08:11] #159 closed

[2020-09-28 19:00] SergiOnGit commented on #159
@zoontek you are right. Thanks.

[2020-10-02 16:05] pt7892 opened #161 "NSInvalidArgumentException: Application tried to present modally an active controller"
# Bug report

## Summary

I've been seeing reports from sentry that show this error `NSInvalidArgumentException: Application tried to present modally an active controller`. Stack traces point to this line of code `-[RNBootSplash show:] node_modules/react-native-bootsplash/ios/RNBootSplash.m:102`.

## Environment info

`react-native info` output:

[code]

Library version: 2.2.5

## Steps to reprodu

[2020-10-03 19:27] ebaynaud commented on #152
This one worked for me, without `__esModule`

[code]

[2020-10-04 18:52] slavikdenis commented on #152
@zoontek could I create a PR with extending the `Guides` section of the README with the describred `mock` for testing?

[2020-10-04 18:53] zoontek commented on #152
Yes of course :)

[2020-10-04 20:40] slavikdenis commented on #152
:) https://github.com/zoontek/react-native-bootsplash/pull/162

[2020-10-05 18:07] omer-to opened #163 "Can't hide the splash screen with calling RNBootSplash.hide"
# Bug report

## Summary

## Environment info

`react-native info` output:

[code]

Library version: 2.2.6

## Steps to reproduce

I would say it is not really a bug, but more like a support/help question.
For some reason RNBootSplash.hide() has no effect on iOS.
I do see that the logs from within components come out, however, the splash screen is stuck there.

Here's my AppDelegate.m

.....
  UIS

[2020-10-05 20:42] zoontek commented on #163
@omer-to Did you tried the example app?

[2020-10-05 21:06] omer-to commented on #163
@zoontek Hello. I didn't try the example app, though I looked into files throughly and compared with mines. Shall I try the example app?

[2020-10-05 21:07] zoontek commented on #163
@omer-to Yes, please.

[2020-10-05 21:42] omer-to commented on #163
@zoontek Hello. I could not run the example app. I cloned the package, and then `cd example && npm install && cd ios && pod install` but I am facing this error:
Error: Unable to resolve module `@babel/runtime/helpers/interopRequireDefault` from `index.js`: @babel/runtime/helpers/interopRequireDefault could not be found within the project

[2020-10-06 08:01] zoontek commented on #163
@omer-to Reset your metro cache / use yarn.

[2020-10-06 08:25] omer-to commented on #163
@zoontek Hi again. I tried it. It worked (by the way the animation was very sweet.) So what does this tell me now?

[2020-10-06 09:18] zoontek commented on #163
@omer-to You could ask for help on platforms like Stack Overflow as this is not an issue with the library.

[2020-10-07 06:57] yanisdb opened #164 "Making the status bar transparent on Android"
# Feature request
Hi,

The idea is to make the status bar transparent on Android, as it is on IOS. I would be happy to look further into it if you can confirm me that it is not possible already with the plugin

Have a great day

[2020-10-07 07:45] #164 closed

[2020-10-07 07:45] zoontek commented on #164
This has nothing to do with this library.

[2020-10-07 07:46] #163 closed

[2020-10-07 14:12] yanisdb commented on #164
I want the status bar transparent during the splash screen (it is already transparent for the application itself).
I think I need to modify either RNBootSplashActivity.java or the generated BootTheme in the style.xml.
I tried to modify the style.xml but it didn't yield any result. I couldn't find or understand where and how this BootTheme is being used.

[2020-10-07 14:54] yanisdb commented on #164
I managed to do it by adding these two lines to RNBootSplash.java :
[code]

[2020-10-07 15:02] zoontek commented on #164
@yanisdb Yes https://github.com/zoontek/react-native-bootsplash/issues/52#issuecomment-580366701

[2020-10-07 15:27] yanisdb commented on #164
Sorry to bother you so much, it did indeed work as in the comment you pointed out but I now get the same problem as the last comment of the thread: https://github.com/zoontek/react-native-bootsplash/issues/52#issuecomment-674251421. Did I miss something ?

[2020-10-07 15:32] zoontek commented on #164
No, this is indeed how Android display translucent status bar. As 100% transparent status bar are not possible using only `style.xml`, you'll always have this one second glitch at start, before the Java custom code kicks in (in SplashScreenActivity, or even in MainActivity: the limitation is similar).

I would recommend sticks to translucentStatusBar only, not applying `FLAG_LAYOUT_NO_LIMITS`.

[2020-10-08 06:56] efecantekin opened #165 "Question: MainActivity.java Problem"
# Bug report

## Summary

Hello,

I don't know what causes this problem, also this is bootsplash's bug, or not.
In my environment settings, I copy MainActicity.java file into myApp/test/ but when

[code]

this part of MainActivity takes a part on both files(in com/x and com/x/test), build gives an error as R class not found.

When I remove onCreate method from com/x/MainActivity.java and it stays

[2020-10-08 07:36] zoontek commented on #165
@efecantekin  If the drawable.xml resource exists, it might be caused by the gradle cache. Try to clean it?

[2020-10-08 11:26] efecantekin commented on #165
Lots of time I tried ./gradle clean but never worked.
I share my MainActivity.java files, on main and test folders, below.

What I said before, if I remove onCreate method on com/MainActivity.java, it works. But don't know how can I manage this with dynamic environment changes.

**.com/MainActivity.java**
`package com.x.X;
import com.facebook.react.ReactActivityDelegate;
import com.facebook.react.

[2020-10-08 11:29] zoontek commented on #165
Try adding `import com.x.X.R;` in `com/x/X/test/MainActivity.java`

[2020-10-08 12:54] efecantekin commented on #165
I was sure it wouldn't work but I tried for you.

/com/x/X/MainActivity.java:4: error: package com.x.X does not exist
import com.facebook.Fibabanka.R;
                             ^
/com/x/X/MainActivity.java:25: error: package R does not exist
        RNBootSplash.init(R.drawable.bootsplash, MainActivity.this);
                           ^

com/x/X/test/MainActivity.java:4: error: cannot find sym

[2020-10-08 12:55] zoontek commented on #165
Anyway, I'm closing this since it's not related to the library. Sorry.

[2020-10-08 12:55] #165 closed

[2020-10-08 14:31] michaelgmcd commented on #149
We're seeing this as well with react-native-bootsplash@3.0.0-alpha.2

[2020-10-08 16:29] shoopi12 commented on #70
I am using bootsplash 2.2.6 and get the same deadlock warning in IOS.

[2020-10-08 19:09] shoopi12 commented on #52
This fixed the jumpy behavior. But I want my navigation bar to remain black / opaque. I tried giving it a black color but that didn't help. Is there anyway around this?

[2020-10-09 04:59] shoopi12 commented on #52
So, from my experience, what was causing the jumpy behavior is actually the Android NavigationBar (not the StatusBar, even though it may appear like it). You can confirm this by only using this line:
`<item name="android:windowTranslucentNavigation">true</item>` - and now the splash screen is centered correctly.

What finally worked for me that seems acceptable was making the NavigationBar translu

[2020-10-09 16:54] arnaudambro opened #166 "iOS background color is not icon color"
Hi there,

The color of my icon and the background don't match, and I'm trying for one hour to make them match with no success...

What is the magic recipe ?

The target color is the icon color `#fedf1e`, it's also the one I entered with `yarn generate-bootsplash`. But it doesn't match...

![image](https://user-images.githubusercontent.com/31724752/95610479-b1240c80-0a60-11eb-9c66-5ac44c756058.png

[2020-10-09 17:37] stevecode21 commented on #146
I have the same issue here.

`<resources>

    <style name="AppTheme" parent="Theme.AppCompat.Light.NoActionBar">

        <item name="android:textColor">#000000</item>
    </style>

    <style name="BootTheme" parent="AppTheme">

        <item name="android:background">@drawable/bootsplash</item>
        <item name="android:windowDrawsSystemBarBackgrounds">true</item>
        <item name="android:

[2020-10-09 19:04] ajp8164 opened #167 "Black Screen before Splash Screen loads iOS"
# Bug report

## Summary

When my app launches the screen is black for a fraction of second prior to the launch screen being displayed. . See stackoverflow reporting exact same issue (doesn't look like that issue reports using this lib so this could be an ios14 issue, idk. [React Native Black Screen before Splash Screen loads iOS
](https://stackoverflow.com/questions/64282146/react-native-black-sc

[2020-10-10 09:05] zoontek commented on #166
@arnaudambro Hi. This is probably a duplicate of https://github.com/zoontek/react-native-bootsplash/issues/71

[2020-10-10 09:08] zoontek commented on #167
@ajp8164 Hi. On which device did you tried? Dif you follow the answer: https://stackoverflow.com/a/64282360 ?

[2020-10-10 13:20] ajp8164 commented on #167
Using iPhone XS running iOS 14. I did follow the SO article but I didn’t replace didFinishLaunchingWithOptions as this component provides the sb loading.

I reduced my app to a hello world Text component, no difference. It appears to be an iOS / storyboard issue but I’d expect a lot more swift app issues to be reported in that case. Also tried latest Xcode beta 12.2.

I’ll see if it can replicate

[2020-10-10 13:54] zoontek commented on #167
@ajp8164 Maybe it's more related to react native project directly? Did it stil happen if you don't use this module, only set a storyboard file as Launch Screen in Xcode?

[2020-10-10 14:09] ajp8164 commented on #167
I had the same problem with react-native-splash-screen (that’s why I switched to here).. I’ll try setting sb directly and eliminate this lib for test.

[2020-10-10 14:14] zoontek commented on #167
@ajp8164 The Stack overflow issue happen with Expo splash screen module, it's another one lib. I doubt we can fix this 😔

[2020-10-10 15:39] ajp8164 commented on #167
I think you’re right. It appears that the app is not presenting the storyboard at app launch even though it’s setup as initial view controller and marked as launch screen. I’ve set the launch screen in info.plist (general tab drop down) as well as trying with main interface set to launch screen.

The launch screen does appear as the result of using this lib to set loadingView (per RN) in didFinish

[2020-10-10 17:44] arnaudambro commented on #166
Good advise for the transparent PNG, I will follow it.

But still, even with the `Display P3` color profile, the color of the background is not the one expected.
So when I give `#fedf1e` when asked using `yarn generate-bootsplash` (great tool by the way), the color is not the one expected.
Is there a trick to get the proper color ?

[2020-10-10 18:00] ajp8164 commented on #167
Closing. Problem has nothing to do with this lib.

[2020-10-10 18:00] #167 closed

[2020-10-10 20:11] zoontek commented on #166
@arnaudambro It might depends of the image, the screen, or the `jimp` treatment. I would **really** recommend the transparent PNG here 😅

[2020-10-11 09:59] anastely commented on #103
Hey @zoontek, the `duration` number it's in millie second or what?
because I set it `50` but it takes a too long time to hide?

[2020-10-11 10:00] zoontek commented on #103
@anastely It's the duration of the fade animation, not of the hiding process.

[2020-10-11 10:17] anastely commented on #103
Uh, But why it takes a long time to hide in android! unlike ios its work as expected!

[2020-10-11 10:26] anastely commented on #103
@zoontek Uh well, But why it takes a long time to hide splash in android! unlike ios its work as expected!

[2020-10-11 11:36] micheilsgrey commented on #103
Overall I'm having all way too slow in android in thinking its the difference in systems and optimization issues.

[2020-10-11 11:48] anastely commented on #103
I do not mean to offend :) but I was using `react-native-splash-screen` in some of the projects before and its work well,  but I use this package it's so easy in installation, etc,  I guess there a something @zoontek miss!

[2020-10-11 12:47] arnaudambro commented on #166
Haha OK well noted ! Indeed it works perfectly. Thanks !

[2020-10-11 12:47] #166 closed

[2020-10-11 13:09] zoontek commented on #103
@anastely Android animations don't perform well, and `50ms` is way too low for any kind of animation in general. I recommend `220ms`, like Android `config_activityDefaultDur` value.

[2020-10-12 02:32] michaelgmcd opened #168 "[Enhancement] Support hiding from native iOS code"
# Feature request

In order to support the use case of showing the splash screen when the app is put in the background (via `applicationWillResignActive`), we'd need a way to hide the splash screen from the native side.

We can use this to show the splash screen from the native side, but we don't have a way to hide it.
[code]

Thank you for your work on react-native-bootsplash. We've recently migr

[2020-10-12 07:59] zoontek commented on #168
Hi. Why not using AppState to achieve the same?

[2020-10-12 13:51] michaelgmcd commented on #168
This would be the preferred approach, but it doesn't seem to work. I believe this is because it's considered a background task. The JS code is notified too late in the cycle to make any UI changes. I could be wrong here, but trying to call `bootSplash.show()` on app status change (when nextAppStatus is "background") does nothing.

[2020-10-12 14:01] zoontek commented on #168
Did you tried with the inactive status instead of background?

[2020-10-14 09:29] rkocur opened #169 "Splash Screen on Android"
As you can see in the attachment, I made the logo image in the middle and the version text at the bottom on iOS. But I couldn't do this on android. Can you help?

[code]

<img width="565" alt="Screen Shot 2020-10-14 at 12 16 12" src="https://user-images.githubusercontent.com/53087530/95969908-fc9b3980-0e17-11eb-9c7b-9257ca0c48e3.png">

<img width="869" alt="Screen Shot 2020-10-14 at 12 24 04" src=